:root {
  --commissioner: 'Commissioner', sans-serif;
}

.commissioner {
  font-family: "Commissioner", sans-serif !important;
}

@font-face {
  font-family: "Commissioner";
  font-style: normal;
  font-weight: 100 900;
  src: url("/assets/fonts/commissioner/Commissioner_VF_1.001.woff2") format("woff2");
}
