:root {
  --crimson-pro: 'Crimson Pro', serif;
}

.crimson-pro {
  font-family: "Crimson Pro", serif !important;
}

@font-face {
  font-family: "Crimson Pro";
  font-stretch: normal;
  font-style: normal;
  font-weight: 100 900;
  src: url("/assets/fonts/crimson-pro/CrimsonPro-Roman-VF.woff2") format("woff2-variations");
}
@font-face {
  font-family: "Crimson Pro";
  font-stretch: normal;
  font-style: italic;
  font-weight: 100 900;
  src: url("/assets/fonts/crimson-pro/CrimsonPro-Italic-VF.woff2") format("woff2-variations");
}
