:root {
  --ia-writer-quattro: 'iA Writer Quattro', 'Helvetica Neue', Arial, sans-serif;
}

.ia-writer-quattro {
  font-family: "iA Writer Quattro", "Helvetica Neue", Arial, sans-serif !important;
}

@font-face {
  font-family: "iA Writer Quattro";
  font-style: normal;
  font-weight: 300 700;
  src: url("/assets/fonts/ia-writer-quattro/iAWriterQuattroV.woff2") format("woff2-variations");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-style: italic;
  font-weight: 300 700;
  src: url("/assets/fonts/ia-writer-quattro/iAWriterQuattroV-Italic.woff2") format("woff2-variations");
}
