---
title: Free Headline and Display Fonts
layout: default
permalink: /display/
body-class: display
body-head-content:  
  <meta property='og:title' content='Free Headline and Display Fonts'>
  <meta property='og:image' content='https://beautifulwebtype.com/assets/images/card.png'>
  <link href='/assets/fonts/alegreya-sans/AlegreyaSans-Italic.woff2' rel='preload' as='font'>
---

{% assign typefaces = site.data.typefaces | where: 'category', 'Display'  %}

<div class='samples grid'>
  <div class='gr1 gc12 page-header center m1'>
    <h1>Display Typefaces</h1>
  </div>

  {% for typeface in typefaces %}
    {% include sample.html %}
  {% endfor %}
</div>
