---
title: The Definitive Guide to Open-Source Type
layout: default
body-class: index
body-head-content:
  <link href='/assets/fonts/alegreya-sans/AlegreyaSans-LightItalic.woff2' rel='preload' as='font'>
  <link href='/assets/fonts/alegreya-sans/AlegreyaSans-Italic.woff2' rel='preload' as='font'>
  <link href='/assets/fonts/alegreya/Alegreya-Regular.woff2' rel='preload' as='font'>
  <link href='/assets/fonts/alegreya/Alegreya-Bold.woff2' rel='preload' as='font'>
  <link href='/assets/fonts/alegreya/Alegreya-Italic.woff2' rel='preload' as='font'>
---

<div class='samples grid'>
  <div class='gr1 gc6 page-header center'>
    <h1>The Definitive Guide<br> to Open-Source Type</h1>
  </div>

  <div class='gr1 gc6 page-header asc center'>
    <p>Welcome to the completely new Beautiful Web Type. There are {{ site.data.typefaces | size }} featured typefaces, with new ones continously added.</p>
  </div>

  {% for typeface in site.data.typefaces %}
    {% include sample.html %}
  {% endfor %}
</div>
