---
title: Free Sans-Serif Fonts
layout: default
permalink: /sans-serif/
body-class: sans-serif
body-head-content:  
  <meta property='og:title' content='Free Sans-Serif Fonts'>
  <meta property='og:image' content='https://beautifulwebtype.com/assets/images/card.png'>
  <link rel='preload' href='/assets/fonts/alegreya-sans/AlegreyaSans-Italic.woff2' as='font'>
---

{% assign typefaces = site.data.typefaces | where: 'category', 'Sans-Serif'  %}

<div class='samples grid'>
  <div class='gr1 gc12 page-header center m1'>
    <h1>Sans-Serif Typefaces</h1>
  </div>

  {% for typeface in typefaces %}
    {% include sample.html %}
  {% endfor %}
</div>
