---
title: Free Serif Fonts
layout: default
permalink: /serif/
body-class: serif
body-head-content:  
  <meta property='og:title' content='Free Serif Fonts'>
  <meta property='og:image' content='https://beautifulwebtype.com/assets/images/card.png'>
  <link rel='preload' href='/assets/fonts/alegreya-sans/AlegreyaSans-Italic.woff2' as='font'>
---

{% assign typefaces = site.data.typefaces | where: 'category', 'Serif'  %}

<div class='samples grid'>
  <div class='gr1 gc12 page-header center m1'>
    <h1>Serif Typefaces</h1>
  </div>

  {% for typeface in typefaces %}
    {% include sample.html %}
  {% endfor %}
</div>
