.type-info {
  h3 {
    font: 700 var(--ms0)/1 'Alegreya Sans';
    //margin-bottom: 0.25em;
    text-transform: uppercase;
  }

  h4 {
    font: 400 var(--ms1)/1.3 'Alegreya';
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }
}

.get-font {
  display: none;
  text-align: right;

  a {
    background: black;
    color: #fff;
    display: inline-block;
    font: 500 var(--ms0)/1 'IBM Plex Mono';
    padding: 1em 2em;
    text-transform: uppercase;
  }
}

.type-styles {
  p {
    font-size: var(--ms5);
    margin-bottom: 0.25em;
  }

  .weight {
    font-size: var(--ms3);
    color: #878787;
  }
}

.detail {
  .sample .meta {
    display: none;
  }

  .sample a {
    pointer-events: none;
  }
}

// Type detail table
// ----------------------------------------------------------------------------
.type-detail-table {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.examples {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  padding: 0 2rem;

  &.flow-row {
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
  }

  &.flow-column {
    flex-flow: column;
  }
}

.examples > div {
  padding: 1rem;
}

.character-examples > div {
  padding: 0.4em 0.4em;
}

.word-examples > div {
  margin-bottom: 0.8em;
  padding: 0;
}

.examples h1 {
  font-size: var(--ms4);
  line-height: 1.2;
}

.examples p {
  line-height: 1.5;
}

.examples span {
  font-size: var(--ms6);
}

.character-label,
.code {
  color: #a7a7a7;
  font: normal 500 var(--ms-1)/1 'IBM Plex Mono';
  font-feature-settings: 'liga' off;
  font-variant: normal;
  line-height: 1;
  margin-top: 0.25em;
  padding: 0;
  text-transform: none;
}

.character-label + .code {
  margin-top: 0;
}

.section-header {
  margin: 4rem 0 1rem 0;
}

.external-sample {
  overflow: hidden;
  position: relative;

  img {
    max-width: 100%;
  }

  p {
    background: #fff;
    font: 400 var(--ms-1)/1.2 'IBM Plex Mono';
    padding: 0.5rem 0.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  a {
    font-weight: 500;
    text-decoration: underline;
  }
}
