// Page header
// --------------------------------------------------------------------------
.type-detail-header h2 {
  font-size: var(--ms5);
  font-weight: 400;
  line-height: 1.1;
}

// Responsive styles
// --------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
  .type-detail-header h2 {
    font-size: var(--ms3);
  }
}

// Download buttons
// --------------------------------------------------------------------------
.font-download {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;

  a {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    color: #373737;
    font: 700 var(--ms0)/1 var(--alegreya-sans);
    padding: 0.9em 1.8em;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      border-color: var(--red);
      color: var(--red);
    }

    span {
      display: block;
      font-weight: 500;
      text-transform: none;
    }
  }

  a + a {
    margin-left: 1em;
  }
}

// Responsive styles
// --------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
  .font-download {
    margin-top: 1rem;

    a {
      flex-basis: 100%;
      padding: 0.8em 1em;
    }
  }
}

// Typeface details
// --------------------------------------------------------------------------
.type-info {
  h3 {
    font: 700 var(--ms0)/1 var(--alegreya-sans);
    text-transform: uppercase;
  }

  h4 {
    font: 400 var(--ms1)/1.3 var(--alegreya-sans);
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }
}

// List of weights and styles
// --------------------------------------------------------------------------
.type-styles {
  p {
    font-size: var(--ms5);
    margin-bottom: 0.25em;
  }

  .weight {
    font-size: var(--ms3);
    color: #878787;
  }
}

// Responsive styles
// --------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
  .type-styles p {
    font-size: var(--ms4);
  }
}

// Type detail table
// ----------------------------------------------------------------------------
.type-detail-table {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.examples {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  padding: 2em;

  &.flow-row {
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
  }

  &.flow-column {
    flex-flow: column;
  }
}

// Container for each example
// ----------------------------------------------------------------------------
.examples > div {
  padding: 1rem;
  overflow-wrap: break-word;
}

.character-examples > div {
  padding: 0.4em;
}

.word-examples > div {
  margin-bottom: 0.8em;
  padding: 0;
}

// Responsive styles
// --------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
  .word-examples > div h1 {
    font-size: var(--ms3) !important;
  }

  .word-examples > div:nth-child(6) h1 {
    font-size: var(--ms2) !important;
  }
}

// Markup for individual characters/words/paragraphs
// ----------------------------------------------------------------------------
.examples h1 {
  font-size: var(--ms4);
  line-height: 1.2;
}

.examples p {
  line-height: 1.5;
}

.examples span {
  font-size: var(--ms6);
}

// Labels used in meta header and beneath individual examples
// ----------------------------------------------------------------------------
.character-label,
.code {
  color: #a7a7a7;
  font: normal 600 var(--ms-1)/1 'IBM Plex Mono';
  font-feature-settings: 'liga' off;
  font-variant: normal;
  line-height: 1;
  margin-top: 0.25em;
  padding: 0;
  text-transform: none;
}

.character-label + .code {
  margin-top: 0;
}
