// Page header
// --------------------------------------------------------------------------
.type-detail-header {
  align-self: flex-end;
  display: flex;

  h2 { font: 600 var(--ms5)/2.5rem var(--ui-face); }
  h3 { font: 400 var(--ms5)/2.5rem var(--ui-face); }

  h2, h3 {
    @media screen and (max-width: $tablet) {
      font-size: var(--ms4);
    }

    @media screen and (max-width: $mobile) {
      font-size: var(--ms3);
      line-height: 2rem;
    }
  }
}

// Download buttons
// --------------------------------------------------------------------------
.font-download {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;

  @media screen and (max-width: $mobile) { margin-top: 1rem; }

  a {
    background: #000;
    border-radius: 3px;
    color: #FFF;
    font: 600 var(--ms1)/1.25rem var(--ui-face);
    padding: 0.75rem 2rem;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.2s ease-in-out;

    @media screen and (max-width: $mobile) {
      flex-basis: 100%;
      font-size: var(--ms0);
      padding: 0.7em 0;
    }

    &:hover { background: var(--red); }

    span {
      display: block;
      font-size: var(--ms0);
      font-weight: 400;
      opacity: 0.8;
      text-transform: none;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms-1);
      }
    }
  }

  a + a {
    margin-left: 1em;
  }
}

// List of weights and styles
// --------------------------------------------------------------------------
.type-styles {
  & > div {
    align-items: baseline;
    display: flex;
  }

  p {
    font-size: var(--ms5);
    line-height: 3rem;
    margin-right: 0.75rem;

    @media screen and (max-width: $mobile) {
      font-size: var(--ms3);
      line-height: 2.5rem;
    }
  }

  .weight {
    font-size: var(--ms2);
    color: #878787;
    line-height: 1;
  }
}


// Typeface details
// --------------------------------------------------------------------------
.type-info {
  h3 {
    font: 700 var(--ms0)/1.75rem var(--ui-face);
    text-transform: uppercase;
  }

  h4, li {
    font: 400 var(--ms1)/1.75rem var(--ui-face);
    margin-bottom: .875rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0;
    }
  }

  a {
    text-decoration: underline;
  }
}

// Type detail table
// ----------------------------------------------------------------------------
.type-detail-table {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: $tablet) { grid-area: span 1 / span 12 !important; }
  @media screen and (max-width: $mobile) { grid-area: span 1 / span 6 !important; }
}

.examples {
  display: flex;
  flex-grow: 2;
  justify-content: center;
  padding: 2rem;

  @media screen and (max-width: $mobile) {
    padding: 1rem !important;
  }

  &.flow-row {
    align-content: center;
    align-items: center;
    flex-flow: row wrap;
    text-align: center;
  }

  &.flow-column {
    flex-flow: column;
  }
}

// Container for each example
// ----------------------------------------------------------------------------
.examples > div {
  padding: 1rem;
  overflow-wrap: break-word;
}

.character-examples > div {
  padding: 0.5rem 0.25rem;
}

.word-examples > div {
  margin-bottom: 1rem;
  padding: 0;
}

// Responsive styles
// --------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
  .word-examples > div h1 {
    font-size: var(--ms3) !important;
  }

  .word-examples > div:nth-child(6) h1 {
    font-size: var(--ms2) !important;
  }
}

// Markup for individual characters/words/paragraphs
// ----------------------------------------------------------------------------
.examples h1 {
  font-size: var(--ms4);
  line-height: 2.5rem;
  margin-bottom: 0.5rem;

  @media screen and (max-width: $mobile) {
    margin-bottom: 0;
  }
}

.examples p {
  line-height: 1.5rem;
}

.examples span {
  font-size: var(--ms6);
  line-height: 3.5rem;
}

.examples.small-characters span {
  font-size: var(--ms4);
}

// Word examples
// ----------------------------------------------------------------------------
.word-examples {
  h1 { font-size: var(--ms6); }

  div:nth-child(1) h1 { font-weight: 100; }
  div:nth-child(2) h1 { font-weight: 300; text-transform: uppercase; }
  div:nth-child(3) h1 { font-weight: 400; }
  div:nth-child(4) h1 { font-weight: 500; }
  div:nth-child(5) h1 { font-weight: 700; }
  div:nth-child(6) h1 { font-weight: 800; font-size: var(--ms5); }
  div:nth-child(7) h1 { font-weight: 900; }
}

// Paragraph examples
// ----------------------------------------------------------------------------
.paragraph-examples {
  .ms2 { line-height: 2rem; }
  .ms1 { line-height: 1.75rem; }
  .ms0 { line-height: 1.5rem; }
  .ms-1 { line-height: 1.25rem; }
  .ms-2 { line-height: 1rem; }
}

// Figure examples
// ----------------------------------------------------------------------------
.examples-figures {
  .examples h1 {
    font-size: var(--ms6);
    font-weight: 400;
  }
}

// Typeface comparisons
// ----------------------------------------------------------------------------
.examples.typeface-comparison {
  h1 {
    font-size: var(--ms7);
    font-weight: 400;
    line-height: 3.5rem;

    @media screen and (max-width: $mobile) {
      font-size: var(--ms3);
      line-height: 2.5rem;
    }
  }
}

// Labels used in meta header and beneath individual examples
// ----------------------------------------------------------------------------
.character-label,
.code {
  color: #a7a7a7;
  font: normal 600 var(--ms-1)/1 var(--ibm-plex-mono);
  font-feature-settings: 'liga' off;
  font-variant: normal;
  line-height: 1rem;
  margin-top: 0.5rem;
  padding: 0;
  text-transform: none;
}

.character-label + .code {
  margin-top: 0;
}

// Pairings
// ----------------------------------------------------------------------------
.grid-comparisons h3,
.grid-pairings h3 {
  font: italic 400 var(--ms5)/1.2 var(--alegreya-sans);

  @media screen and (max-width: $mobile) {
    font-size: var(--ms3);
    grid-area: span 1 / span 6;
    margin-top: 1rem;
  }
}

// Typeface specific tweaks
// ----------------------------------------------------------------------------
// Alegreya
// ----------------------------------------------------------------------------
.grid.alegreya {
  .examples-smallcap {
    grid-area: span 6 / span 6;
  }
}

// Alegreya Sans
// ----------------------------------------------------------------------------
.grid.alegreya-sans {
  .examples-paragraphs {
    grid-area: span 5 / span 6;
  }

  .examples-smallcap {
    grid-area: span 6 / span 6;
  }
}

// Archivo Black
// ----------------------------------------------------------------------------
.grid.archivo-black {
  .examples-paragraphs {
    grid-area: span 11 / span 6;
  }

  .examples-words {
    .word-examples {
      div:nth-child(5) h1 {
        font-size: var(--ms4);
      }
    }
  }
}

// BioRhyme
// ----------------------------------------------------------------------------
.grid.biorhyme {
  .examples-headlines {
    .examples h1 {
      font-size: var(--ms5);
    }
  }
}

// BioRhyme Expanded
// ----------------------------------------------------------------------------
.grid.biorhyme-expanded {
  .examples-characters {
    .examples span {
      font-size: var(--ms4);
    }
  }

  .examples-words {
    .word-examples {
      h1 {
        font-size: var(--ms4);
      }

      div:nth-child(5) h1 {
        font-size: var(--ms2);
      }
    }
  }

  .examples-headlines-uppercase {
    .examples h1 {
      font-size: var(--ms3);
    }
  }
}

// FiraGO
// ----------------------------------------------------------------------------
.grid.firago {
  .examples-smallcap {
    grid-area: span 11 / span 6;
  }
}

// IBM Plex Mono
// ----------------------------------------------------------------------------
.grid.ibm-plex-mono {
  .examples-paragraphs {
    grid-area: span 9 / span 6;
  }
}

// Le Murmure
// ----------------------------------------------------------------------------
.grid.le-murmure {
  .examples-characters {
    .examples span {
      font-size: var(--ms8);
    }
  }

  .examples-words .word-examples h1 {
    font-size: var(--ms7);
  }

  .examples-headlines,
  .examples-headlines-uppercase {
    .examples h1 {
      font-size: var(--ms8);
      line-height: 4.5rem;
    }
  }
}

// Lora
// ----------------------------------------------------------------------------
.grid.lora {
  .examples-paragraphs {
    grid-area: span 9 / span 6;
  }
}

// Messapia
// ----------------------------------------------------------------------------
.grid.messapia {
  .examples-words {
    .word-examples {
      h1 {
        font-size: var(--ms6);
      }

      div:nth-child(5) h1 {
        font-size: var(--ms4);
      }
    }
  }
}

// Playfair Display
// ----------------------------------------------------------------------------
.grid.playfair-display {
  .examples-characters {
    .examples span {
      font-size: var(--ms7);
    }
  }

  .examples-headlines {
    .examples h1 {
      font-size: var(--ms7);
      line-height: 1;
    }
  }

  .examples-headlines-italic {
    .examples h1 {
      font-size: var(--ms7);
      line-height: 1;
    }
  }

  .examples-smallcap {
    .examples h1 {
      font-size: var(--ms7);
      line-height: 0.9;
    }
  }

  .examples-smallcap-italic {
    .examples h1 {
      line-height: 0.9;
    }
  }
}

// Rakkas
// ----------------------------------------------------------------------------
.grid.rakkas {
  .examples-headlines {
    .examples h1 {
      font-size: var(--ms8);
    }
  }

  .examples-headlines {
    .examples h1 {
      font-size: var(--ms8);
      line-height: 4.5rem;
    }
  }

  .examples-headlines-uppercase {
    .examples h1 {
      font-size: var(--ms8);
      line-height: 4rem;
    }
  }
}

// Space Mono
// ----------------------------------------------------------------------------
.grid.space-mono {
  .examples-words .word-examples h1 {
    font-feature-settings: 'liga' off, 'clig' off, 'dlig' off;
  }

  .examples-headlines,
  .examples-headlines-italic {
    .examples h1 {
      font-feature-settings: 'liga' off, 'clig' off, 'dlig' off;
    }
  }

  .examples-paragraphs {
    font-feature-settings: 'liga' off, 'clig' off, 'dlig' off;
  }
}

// Work Sans
// ----------------------------------------------------------------------------
.grid.work-sans {
  .examples-smallcap {
    grid-area: span 10 / span 6;
  }
}

// Zilla Slab
// ----------------------------------------------------------------------------
.grid.zilla-slab {
  .examples-smallcap {
    grid-area: span 6 / span 6;
  }
}
