footer.grid {
  border-top: 1px solid rgba(#d7d7d7, 0.4);
  margin-top: 2em;
  padding-top: 2em;

  h3 {
    color: #797979;
    font: 700 var(--ms0)/1 var(--alegreya-sans);
    font-feature-settings: 'cpsp';
    margin-bottom: 0.25em;
    text-transform: uppercase;
  }

  li {
    font: 400 var(--ms1)/1 var(--alegreya-sans);
    margin-bottom: 0.25em;
    padding: 0.25em 0;
  }

  p {
    font: 400 var(--ms1)/1.3 var(--alegreya-sans);

    a {
      color: var(--red);
    }
  }

  .footer-patreon-content {
    display: flex;

    .patreon-logo {
      margin: 0.25em 1em 0 0;

      img {
        height: 3.375rem;
      }
    }
  }

  .subscribe-form {
    margin: 0.5em 0;

    form {
      display: flex;
      font: var(--ms1) var(--alegreya-sans);
    }

    input[type='text'] {
      -webkit-appearance: none;
      border: 1px solid #000;
      border-radius: 0;
      border-right: 0;
      flex-grow: 2;
      outline: none;
      padding: 0.75em;
      min-width: 100px;
    }

    input[type='submit'] {
      @extend %reset-button;
      background: #000;
      color: #FFF;
      padding: 0.75em 1.5em;
    }
  }
}

// Responsive styles
// ----------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
  footer.grid {
    grid-gap: 1.5em;
  }

  .footer-patreon-content {
    flex-direction: column;
  }
}
