.sample {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .text {
    align-content: center;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: center;
  }
}

// Responsive styles
// ----------------------------------------------------------------------------
@media screen and (max-width: $mobile) {
  .sample {
    grid-row: span 1;
    grid-column: span 4;
    padding: 6em 3em;
  }
}

@media screen and (min-width: 1920px) {
  .sample {
    grid-column: span 4;
  }
}

@media screen and (min-width: 2500px) {
  .sample {
    grid-column: span 3;
  }
}

// Sample footer
// ----------------------------------------------------------------------------
.meta {
  border-top: 1px solid rgba(#fff, 0.3);
  border-bottom: 0;
  color: #fff;
  font: 700 var(--ms0)/1 'Alegreya Sans';
  padding: 0.8rem 1rem;
  text-align: left;

  p {
    &.name {
      strong {
        font-weight: 700;
      }
    }

    &.code {
      color: #a7a7a7;
      font-weight: 400;
    }

    &.direct-link {
      font-size: 0.833rem;
      padding: 1.5rem;
      text-align: right;
      text-transform: uppercase;
      width: 30%;
    }
  }

  &.top {
    border-bottom: 1px solid rgba(#fff, 0.3);
    border-top: 0;
  }

  &.dark {
    border-color: rgba(#000, 0.05);
    color: #333;
  }
}

// Cardo
// ----------------------------------------------------------------------------
.cardo-example {
  background: #2A2C39;
  color: #fff;

  h2 {
    font: italic 400 1.728em/1.4 'cardo';
    margin-bottom: 0.5em;
    text-indent: -0.25em;
  }

  .text p {
    font: 400 1.728em/1.4 'cardo';
  }
}

// Gentium Basic
// ----------------------------------------------------------------------------
.gentium-basic {
  background-color: #e8e6d9;
  color: rgba(#000, 0.75);

  h1 {
    font: 400 2.074em/1 'gentium basic';
    margin-bottom: 0.5em;
  }

  .text p {
    font: italic 400 1.2em/1.4 'gentium basic';
    margin-bottom: 1em;
  }

  .text .source {
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}

// Merriweather
// ----------------------------------------------------------------------------
.merriweather-sample {
  background: #caccc9;

  .text {
    padding: 0 3em;
  }

  h1 {
    color: #222;
    font: 900 var(--ms5)/1 'merriweather';
    margin: 0 0 0.25rem 0;
  }

  h2 {
    color: #333;
    font: 900 var(--ms-1)/1.5 'merriweather';
  }

  .text .title {
    color: #c3322f;
    font: italic 400 var(--ms1)/1.5 'merriweather';
    margin: 0 0 1.5rem 0;
  }

  .text p {
    color: #333;
    column-count: 2;
    column-gap: 2rem;
    font: 400 var(--ms0)/1.5 'merriweather';
    margin: 0;
  }
}

// Playfair Display
// ----------------------------------------------------------------------------
.playfair-display-sample {
  background: rgba(#85878d, 0.7);

  h1 {
    color: #242526;
    font: italic 700 3.583em/1.2 'playfair display';

    &.first {
      float: left;
      margin: 0.5em 0 -0.15em 0;
      width: auto;
    }

    &.second {
      border-left: 0.12em solid #242526;
      float: left;
      margin: 0 0 -0.15em 0;
      padding: 0.5em 0 0 0.3em;
      width: auto;
    }

    &.third {
      clear: both;
      font-style: normal;
      font-weight: 900;
      margin: 0 0 0 2em;
    }
  }

  .text p {
    color: #2e2f31;
    font: 400 1em/1 'playfair display';
    letter-spacing: 1px;
    margin: 1.2em 0 0 7.166em;
    text-transform: uppercase;
  }
}

// Oswald
// ----------------------------------------------------------------------------
.oswald-sample {
  background-color: #fff;

  .text {
    margin: 0 3em;
  }

  h2 {
    color: #FFF700;
    font-size: var(--ms11);
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
}

// Oswald 02
// ----------------------------------------------------------------------------
.oswald-sample-02 {
  background-color: #fff;

  .text {
    hyphens: none;
    margin: 0 1.7em;
    overflow-wrap: break-word;
  }

  h1 {
    font-size: var(--ms8);
    font-weight: 400;
    line-height: 1.1;
    text-align: justify;
  }

  .color-01 { color: #FF8BB8; }
  .color-02 { color: #945B9F; }
  .color-03 { color: #70D7A0; }
}

// Fira Mono
// ----------------------------------------------------------------------------
.fira-mono {
  background-color: #e7e7e7;

  table {
    border: 1px solid #fff;
    border-collapse: collapse;
    font: 400 1em/1 'fira mono';
    width: 100%;

    thead {
      background-color: rgba(#fff, 0.5);
    }

    th {
      font-weight: 500;
      text-align: left;
    }

    tr {
      border-bottom: 1px solid #fff;
    }

    td, th {
      padding: 0.75em 0.5em;
    }

    td {
      background-color: rgba(#fff, 0.9);
    }

    tfoot {
      background-color: rgba(#fff, 0.8);
    }

    tfoot,
    tfoot th {
      font-weight: 700;
    }
  }
}

// Gravitas One
// ----------------------------------------------------------------------------
.gravitas-one-sample {
  background: #c00;
  text-align: center;

  h1 {
    border-bottom: 0.09375em solid #090909;
    color: #090909;
    display: inline-block;
    font: 400 3.583em/0.8 'Gravitas One';
    letter-spacing: -0.0625em;
    margin: 0 0 0.315em 0;
    padding: 0 0.0625em;
    text-transform: uppercase;
  }
}


// Karla
// ----------------------------------------------------------------------------
.karla {
  background-color: #fff;

  h2 {
    color: #787878;
    font: 700 1em/1.4 'karla';
    margin: 0;
    text-transform: uppercase;
  }

  .text p {
    color: #222;
    font: 400 2em/1.2 'karla';
    margin: 0 0 6px 0;
  }

  .text p + p {
    text-indent: 16px;
  }
}

// Vollkorn
// ----------------------------------------------------------------------------
.vollkorn-sample {
  background: #26473C;
  color: #FA9F6A;

  .text {
    margin: 2.15em 3em 0;
  }

  h1 {
    border-top: 0.075em solid #FA9F6A;
    font-weight: 400;
    font-size: var(--ms8);
    line-height: 1;

    span {
      background: #26473C;
      padding: 0 0.25em 0 0;
      position: relative;
      top: -0.60em;
    }
  }

  .text p {
    font-size: var(--ms2);
    font-style: italic;
    line-height: 1.4;
    margin: calc(-1 * var(--ms2)) 20% 0 0;
    text-indent: -0.4em;
    z-index: 1;
  }
}

// Vollkorn 2
// ----------------------------------------------------------------------------
.vollkorn-sample-02 {
  background: #092D5F;
  color: #F8F0E3;

  .text {
    align-items: stretch;
    display: grid;
    flex-grow: unset;
    grid: 1fr / 1fr 4fr;
    grid-gap: 1.5rem;
    margin: 0 4rem;
  }

  h1, h2, p {
    font-size: var(--ms1);
    line-height: 1.5;
    font-feature-settings: 'dlig' off;
  }

  h1 {
    font-feature-settings: 'smcp', 'dlig' off;
    grid-area: 1 / 1;
    text-align: right;
  }

  h2 {
    font-size: var(--ms0);
    grid-area: 1 / 1;
    line-height: 1.35;
    margin-bottom: 0.125em;
    text-align: right;
  }

  p {
    grid-area: 1 / 2;
  }
}
