@media screen and (max-width: $tablet) {
  .pairing {
    grid-area: span 1 / span 12;
  }
}

// Archivo Black + Lora
// ----------------------------------------------------------------------------
.archivo-black-and-lora-sample {
  background: #080543;

  .text {
    color: #FFF;
    margin: 3rem 0;
    text-align: center;

    h1 {
      font: 400 var(--ms10)/0.8 var(--archivo-black);
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms7);
      }
    }

    p {
      font: 400 var(--ms1)/1.4 var(--lora);
      margin: 2em 2em 0;

      @media screen and (max-width: $mobile) {
        margin: 1em 0 0 0;
      }

      &:last-child {
        margin-top: 1em;
      }
    }
  }
}

// Fraunces + Libre Franklin
// ----------------------------------------------------------------------------
.fraunces-and-libre-franklin-sample {
  background: #111412;

  .text {
    color: #377CB2;
    margin: 6rem 0;
    text-align: center;

    h1 {
      font: 200 var(--ms13)/0.8 var(--fraunces);
      font-variation-settings: "WONK" 1, "SOFT" 10, "opsz" 144;
      letter-spacing: -0.05em;
      margin: 0 0 0.5rem 0;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms8);
      }
    }

    h2 {
      font: 350 var(--ms7)/1 var(--fraunces);
      font-variation-settings: "WONK" 1, "SOFT" 60, "opsz" 90;
      letter-spacing: 0.0045em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
      }
    }

    h3 {
      color: #FFF;
      font: 600 var(--ms2)/1.4 var(--libre-franklin);
      margin: 6rem 0 0 0;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms0);
      }
    }

    p {
      color: #FFF;
      font: 600 var(--ms2)/1.4 var(--libre-franklin);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms0);
      }
    }
  }
}

// Libre Franklin + Source Serif Pro
// ----------------------------------------------------------------------------
.libre-franklin-and-source-serif-pro-sample {
  background-color: #FAF9F6;

  .text {
    color: #272727;
    margin: 3rem;

    @media screen and (max-width: $mobile) {
      margin: 3rem 0;
    }

    h1 {
      display: flex;
      font: 900 var(--ms8)/0.9 var(--libre-franklin);
      margin-bottom: 0.1em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
      }

      span:last-child {
        color: #0FADDA;
        font-weight: 300;
        padding-left: 0.25em;
        text-transform: none;
      }
    }

    p {
      font: 400 var(--ms1)/1.4 var(--source-serif-pro);
      margin: 1em 4em 0 0;

      @media screen and (max-width: $mobile) {
        margin-right: 0;
      }
    }
  }
}

// Messapia + Inter
// ----------------------------------------------------------------------------
.messapia-and-inter-sample {
  background: #191F26;

  .text {
    color: #FFF;
    margin: 6rem 3rem;
    text-align: center;

    @media screen and (max-width: $mobile) {
      margin: 3rem 0rem;
    }

    h1 {
      font: 700 var(--ms8)/0.95 var(--messapia);
      letter-spacing: -0.035em;
      margin: 0 0 2rem 0;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
        line-height: 1.1;
      }
    }

    p {
      color: #C4CCD5;
      font: 440 var(--ms3)/1.25 var(--inter);
      letter-spacing: -0.015em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
      }
    }
  }
}

// Oswald + Source Serif Pro
// ----------------------------------------------------------------------------
.oswald-and-source-serif-pro-sample {
  background: linear-gradient(25deg, #6356dd, #ec2a22);

  .text {
    color: #171717;
    margin: 3rem 0;
    text-align: center;

    h1 {
      color: #FFF;
      font: 700 var(--ms10)/1 var(--oswald);
      margin-bottom: 2.25rem;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms8);
        margin-bottom: 1.2rem;
      }
    }

    h2 {
      font: 700 var(--ms4)/1.2 var(--oswald);
      margin-bottom: 2rem;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
        margin-bottom: 1rem;
      }
    }

    h3 {
      font: 400 var(--ms5)/1.1 var(--source-serif-pro);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
      }
    }
  }
}

// Rakkas + Vollkorn
// ----------------------------------------------------------------------------
.rakkas-and-vollkorn-sample {
  background: #FFF;

  .text {
    color: #272727;
    margin: 3rem 0;
    text-align: center;

    h1 {
      font: 400 var(--ms8)/0.9 var(--rakkas);
      letter-spacing: 0.025em;
      margin: 0.3em 0 0.25em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms7);
      }
    }

    h2 {
      color: #F00E31;
      font: 400 var(--ms5)/1 var(--vollkorn);
      font-feature-settings: 'smcp';

      @media screen and (max-width: $mobile) {
        font-size: var(--ms4);
      }
    }

    h3 {
      font: italic 400 var(--ms2)/1 var(--vollkorn);
      margin-top: 2em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
      }

      span {
        font-style: normal;
        font-feature-settings: 'smcp';
        letter-spacing: 0.05em;
      }
    }
  }
}
