.sample {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > a {
    align-content: center;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    height: 45rem;
    justify-content: center;
    padding: 2rem;

    @media screen and (max-width: $tablet) {
      padding: 4rem 3rem;
    }

    @media screen and (max-width: $mobile) {
      height: auto;
      padding: 2.5rem;
    }
  }

  .text {
    margin: 0 auto;
  }
}

.pairing .text {
  align-content: center;
  display: flex;
  flex-grow: 1;
  flex-flow: column;
  justify-content: center;
  padding: 2em;
}

// Header for type tables and samples
// ----------------------------------------------------------------------------
.meta {
  box-shadow: 0 -1px 0 rgba(#fff, 0.3);
  color: #fff;
  display: flex;
  font: 700 var(--ms0)/1rem var(--ui-face);
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  text-align: left;

  &.code {
    color: #a7a7a7;
    font-weight: 500;
  }

  &.dark {
    box-shadow: 0 -1px 0 rgba(#000, 0.075);
    color: #333;
  }

  &.top {
    box-shadow: 0 1px 0 rgba(#fff, 0.3);
  }

  &.top.dark {
    box-shadow: 0 1px 0 rgba(#000, 0.075);
    color: #333;
  }

  a.glyph-explorer {
    color: var(--red);
    display: inline-block;
    font-size: var(--ms-1);
    letter-spacing: 0.035em;
    text-transform: uppercase;
  }

  .pairing-list a:first-child::after {
    content: ' \0026';
  }
}

// Hide sample label and remove anchor events when used on detail pages
// Don't hide the label for pairing samples
// ----------------------------------------------------------------------------
.detail {
  .sample:not(.pairing) .meta {
    display: none;
  }

  .sample:not(.pairing) a {
    pointer-events: none;
  }
}

// Alegreya
// ----------------------------------------------------------------------------
.alegreya-sample {
  background: #DFD7C9;

  .text {
    color: rgba(#02040F, 0.75);
    max-width: 40rem;

    h1, p {
      font: 400 var(--ms4)/2.5rem var(--alegreya);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
        line-height: 2rem;
      }
    }

    h1::first-line {
      font-feature-settings: 'smcp';
      font-weight: 500;
    }

    p {
      margin-top: 1rem;
    }
  }
}

// Alegreya Sans
// ----------------------------------------------------------------------------
.alegreya-sans-sample {
  background: #EC3B3B;

  .text {
    text-align: center;

    h1 {
      color: #FFF;
      font: 900 var(--ms12)/7.5rem var(--alegreya-sans);
      font-feature-settings: 'cpsp';
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms7);
        line-height: 3rem;
      }
    }
  }
}

// Archivo
// ----------------------------------------------------------------------------
.archivo-sample {
  background: #000;

  .text {
    h1 {
      color: #FFF;
      font: 600 var(--ms6)/3.5rem var(--archivo);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms4);
        line-height: 2.5rem;
      }

      span {
        display: block;
        margin-top: 2rem;
      }
    }
  }
}

// Archivo Black
// ----------------------------------------------------------------------------
.archivo-black-sample {
  background: #F5C827;

  .text {
    color: #0B0A08;

    h1 {
      font: 400 var(--ms11)/6rem var(--archivo-black);
      letter-spacing: -0.05em;
      margin-bottom: 0.5rem;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms8);
        line-height: 3.5rem;
      }
    }

    h2 {
      border-top: 0.5rem solid #0B0A08;
      font-size: var(--ms3);
      padding-top: 0.5rem;
      text-align: right;
      text-transform: uppercase;
    }
  }
}

// BioRhyme
// ----------------------------------------------------------------------------
.biorhyme-sample {
  background: #43C94D;

  .text {
    color: #FFF;
    text-align: center;

    h1 {
      font: 800 var(--ms12)/8rem var(--biorhyme);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms7);
        line-height: 3.5rem;
      }
    }
  }
}

// BioRhyme Extended
// ----------------------------------------------------------------------------
.biorhyme-expanded-sample {
  background: #F1592A;

  .text {
    color: #FFF;
    text-align: center;

    @media screen and (max-width: $mobile) {
      margin-top: 1rem;
    }

    h1 {
      font: 800 var(--ms15)/11.5rem var(--biorhyme-expanded);
      letter-spacing: -0.05em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms10);
        line-height: 3rem;
      }
    }

    h2 {
      font: 800 var(--ms8)/5rem var(--biorhyme-expanded);
      letter-spacing: 0.2em;
      margin-left: 0.55em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
        line-height: 4rem;
      }
    }
  }
}

// Cooper Hewitt
// ----------------------------------------------------------------------------
.cooper-hewitt-sample {
  background: #3A274E;

  .text {
    color: #FFF;
    text-align: center;

    h1 {
      font: 400 var(--ms10)/6rem var(--cooper-hewitt);
      margin-bottom: 5rem;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms4);
        line-height: 2rem;
        margin-bottom: 2rem;
      }
    }

    h2 {
      font: 300 var(--ms4)/3rem var(--cooper-hewitt);
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
        line-height: 1.5rem;
      }
    }
  }
}

// Crimson Pro
// ----------------------------------------------------------------------------
.crimson-pro-sample {
  background: #84AB8D;

  .text {
    color: #2A2F2C;
    max-width: 40rem;

    p {
      font: 400 var(--ms3)/2.5rem var(--crimson-pro);
      margin-bottom: 1rem;
      text-indent: -0.45em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
        line-height: 1.5rem;
      }
    }

    h6 {
      color: #FFF;
      font: 400 var(--ms3)/1.5rem var(--crimson-pro);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms0);
        line-height: 1rem;
      }
    }
  }
}

// Fira Code
// ----------------------------------------------------------------------------
.fira-code-sample {
  background: #0D3560;

  .text {
    color: #FDA18F;
    text-align: center;
    width: auto;

    h1 {
      font: 400 var(--ms7)/4rem var(--fira-code);
      margin-bottom: 0.5rem;

      span {
        font-weight: 700;
        padding: 0 0.5rem;
        text-transform: uppercase;
      }

      @media (max-width: $tablet) {
        font-size: var(--ms4);
        line-height: 2.5rem;
      }

      @media (max-width: $mobile) {
        font-size: var(--ms0);
        line-height: 1rem;
      }
    }
  }
}

// FiraGO
// ----------------------------------------------------------------------------
.firago-sample {
  background: #BCBBB8;

  .text {
    text-align: center;

    h2, h3, h4, h5, h6 {
      background: #BCBBB8;
      color: #272727;
      font: var(--ms11)/7rem var(--firago);
      letter-spacing: 0.05em;
      margin-top: -3rem;
      position: relative;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms7);
        line-height: 4rem;
        margin-top: -1.5rem;
      }
    }

    h2 {
      font-weight: 350;
      margin-top: 0;
      z-index: 2;
    }

    h3 {
      font-weight: 400;
      z-index: 3;
    }

    h4 {
      font-weight: 500;
      z-index: 4;
    }

    h5 {
      font-weight: 700;
      z-index: 5;
    }

    h6 {
      color: #DE2C29;
      font-weight: 900;
      z-index: 6;
    }
  }
}

// Fivo Sans
// ----------------------------------------------------------------------------
.fivo-sans-sample {
  background: #006DA9;

  .text {
    color: #FFF;
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 2em 0;
    }

    h1 {
      font: 700 var(--ms9)/1 var(--fivo-sans);
      letter-spacing: -0.025em;

      @media screen and (max-width: $tablet) {
        font-size: var(--ms7);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
      }
    }
  }
}

// Fivo Sans Modern
// ----------------------------------------------------------------------------
.fivo-sans-modern-sample {
  background: #E7E6E2;

  .text {
    color: #000;
    display: flex;
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 2em 0;
    }

    h1 {
      font: 700 var(--ms19)/0.425 var(--fivo-sans-modern);
      transform: scaleX(-1);

      @media screen and (max-width: $tablet) {
        font-size: var(--ms17);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms13);
      }
    }

    h2 {
      font: 400 var(--ms10)/0.9 var(--fivo-sans-modern);
      letter-spacing: -0.025em;
      text-align: right;

      strong {
        font-weight: 700;
      }

      @media screen and (max-width: $tablet) {
        font-size: var(--ms8);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms4);
      }
    }
  }
}

// Fraunces
// ----------------------------------------------------------------------------
.fraunces-sample {
  background: #558B58;

  .text {
    color: #FFF;
    text-align: center;

    h1 {
      font: 900 var(--ms12)/0.725 var(--fraunces);
      font-variation-settings: "WONK" 1, "SOFT" 100, "opsz" 144;
      letter-spacing: -0.03em;

      span { color: #F5E16D; }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms7);
      }
    }
  }
}


// iA Writer Quattro
// ----------------------------------------------------------------------------
.ia-writer-quattro-sample {
  background: #CE5D18;

  .text {
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      color: #000;
      font: 400 var(--ms7)/1.2 var(--ia-writer-quattro);

      &:first-child {
        text-indent: -1em;
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
      }
    }

    h2 {
      color: #FFF;
      font: 400 var(--ms4)/1.2 var(--ia-writer-quattro);
      margin-top: 1em;
      opacity: 0.8;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
      }
    }
  }
}

// IBM Plex Mono
// ----------------------------------------------------------------------------
.ibm-plex-mono-sample {
  background: #0B3D91;

  .text {
    color: #FFF;
    max-width: 700px;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      border-bottom: 0.075em solid #fff;
      font: italic 450 var(--ms6)/1.4 var(--ibm-plex-mono);
      padding-bottom: 0.1em;

      &:first-child {
        border-top: 0.075em solid #fff;
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
      }
    }
  }
}

// IBM Plex Sans
// ----------------------------------------------------------------------------
.ibm-plex-sans-sample {
  background: linear-gradient(30deg, #93949C, #C0C2CA);

  .text {
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      color: #fff;
      font: 400 var(--ms9)/1 var(--ibm-plex-sans);

      &:first-child {
        color: #373737;
        margin-bottom: 0.25em;
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms4);
      }
    }
  }
}

// IBM Plex Sans Condensed
// ----------------------------------------------------------------------------
.ibm-plex-sans-condensed-sample {
  background: #FC7609;

  .text {
    display: grid;
    flex-grow: unset;
    grid: 1fr / 1fr;
    max-width: 1100px;
    place-items: start;
    text-transform: lowercase;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1, h2 {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
    }

    h1 {
      color: #FDF8E3;
      font: 600 var(--ms17)/1 var(--ibm-plex-sans-condensed);
      letter-spacing: -0.05em;

      @media screen and (max-width: $tablet) {
        font-size: var(--ms14);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms11);
      }
    }

    h2 {
      color: #130107;
      font: 700 var(--ms10)/1.5 var(--ibm-plex-sans-condensed);
      padding-left: 0.2em;

      @media screen and (max-width: $tablet) {
        font-size: var(--ms4);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
      }
    }
  }
}

// IBM Plex Serif
// ----------------------------------------------------------------------------
.ibm-plex-serif-sample {
  background: #FDE267;

  .text {
    color: #272727;
    max-width: 800px;

    h1 {
      font: italic 200 var(--ms6)/1.2 var(--ibm-plex-serif);
      text-indent: -0.45em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
      }
    }
  }
}

// Inria Sans
// ----------------------------------------------------------------------------
.inria-sans-sample {
  background: #000;

  .text {
    color: #FFF;
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      font: 700 var(--ms10)/0.95 var(--inria-sans);
      letter-spacing: -0.0125em;
      margin-bottom: 0.25em;
      text-indent: 0.025em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
      }
    }

    h2 {
      font: 400 var(--ms4)/1 var(--inria-sans);
      margin-left: 0.15em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
      }
    }
  }
}

// Inria Serif
// ----------------------------------------------------------------------------
.inria-serif-sample {
  background: #FFF;

  .text {
    color: #000;
    max-width: 940px;
    text-align: center;

    @media screen and (max-width: $mobile) {
      padding: 2em 0;
    }

    h1 {
      font: 700 var(--ms9)/1.1 var(--inria-serif);
      text-transform: uppercase;
      margin-bottom: 0.5em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
        margin-bottom: 0.25em;
      }
    }

    h2 {
      font: 400 var(--ms5)/1.2 var(--inria-serif);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
      }
    }
  }
}

// Inter
// ----------------------------------------------------------------------------
.inter-sample {
  background: #020022;

  .text {
    color: #FFF;
    max-width: 1080px;
    text-align: center;

    @media screen and (max-width: $mobile) {
      padding: 2em 0;
    }

    h1 {
      background: linear-gradient(25deg, #FF01D7, #FFEB00, #00EDF5, #5600CC);
      -webkit-background-clip: text;
      color: transparent;
      font: 475 var(--ms11)/1.1 var(--inter);
      font-feature-settings: 'ss03';
      letter-spacing: -0.045em;
      margin-bottom: 0.5em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
        margin-bottom: 0.25em;
      }
    }

    h2 {
      font: 300 var(--ms5)/1.2 var(--inter);
      font-feature-settings: 'ss03';
      letter-spacing: -0.025em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
      }
    }
  }
}

// Jost*
// ----------------------------------------------------------------------------
.jost-sample {
  background: #000;

  .text {
    color: #FFF;
    max-width: 960px;
    text-align: center;

    @media screen and (max-width: $mobile) {
      padding: 2em 0;
    }

    h1 {
      font: 600 var(--ms10)/1 var(--jost);
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @media screen and (max-width: $tablet) {
        font-size: var(--ms9);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
      }
    }

    h2 {
      font: 400 var(--ms6)/1 var(--jost);
      letter-spacing: 0.0975em;
      opacity: 0.5;
      margin-top: 0.5em;
      text-transform: uppercase;

      @media screen and (max-width: $tablet) {
        font-size: var(--ms5);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
      }
    }
  }
}

// Le Murmure
// ----------------------------------------------------------------------------
.le-murmure-sample {
  background: #0B0731;

  .text {
    text-align: center;

    h1 {
      background: linear-gradient(25deg, #221D52, #2389C8, #E63595, #F490A9);
      -webkit-background-clip: text;
      color: transparent;
      font: 400 var(--ms12)/1 var(--le-murmure);
      text-transform: uppercase;

      @media screen and (max-width: $tablet) {
        font-size: var(--ms9);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms4);
        margin: 1.5em 0;
      }
    }
  }
}

// Libre Franklin
// ----------------------------------------------------------------------------
.libre-franklin-sample {
  background: #171717;

  .text {
    max-width: 960px;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      color: #EE4128;
      font: 900 var(--ms11)/0.9 var(--libre-franklin);
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms6);
      }

      &:nth-child(2) {
        margin-bottom: 0.025em;
      }
    }

    .yellow {
      color: #FDC00D;
    }

    .green {
      color: #56B557;
    }

    h2 {
      color: #FFF;
      display: flex;
      font: 900 var(--ms2)/1.2 var(--libre-franklin);
      justify-content: space-between;
      margin: 0 0.075em 0 0.35em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        flex-direction: column;
        margin: 0.75em 0 0 0.2em;
      }
    }
  }
}

// Lora
// ----------------------------------------------------------------------------
.lora-sample {
  background: #77918D;

  .text {
    color: #FFF;
    max-width: 600px;

    p {
      font: italic 400 var(--ms3)/1.4 var(--lora);
      margin-bottom: 0.5em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
        line-height: 1.3;
      }
    }

    h2 {
      font: 700 var(--ms1)/1 var(--lora);
      letter-spacing: 0.1em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms-1);
      }
    }
  }
}


// Messapia
// ----------------------------------------------------------------------------
.messapia-sample {
  background: #397BCA;

  .text {
    color: #FFF;
    text-align: center;

    h1 {
      font: 700 var(--ms9)/4rem var(--messapia);
      margin-bottom: 0.75rem;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
        line-height: 2rem;
        margin-bottom: 0;
      }
    }

    h2 {
      font: 400 var(--ms6)/3rem var(--messapia);
      letter-spacing: 0.03em;
      margin-left: 0.05em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms-1);
        line-height: 1rem;
      }
    }
  }
}


// Oswald
// ----------------------------------------------------------------------------
.oswald-sample {
  background: #25408F;

  .text {
    color: #EC1C23;
    max-width: 960px;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      font: 900 var(--ms16)/1 var(--oswald);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms11);
      }
    }
  }
}

// Playfair Display
// ----------------------------------------------------------------------------
.playfair-display-sample {
  background: #55AF8C;

  .text {
    text-align: center;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      color: #F6F3CF;
      font: italic 400 var(--ms11)/0.7 var(--playfair-display);
      font-feature-settings: 'smcp', 'dlig';

      @media screen and (max-width: $mobile) {
        font-size: var(--ms6);
      }

      &:nth-child(3) {
        font-weight: 900;
        line-height: 0.55;
        margin-bottom: 0.5em;
      }
    }

    p {
      color: #272727;
      font: italic 400 var(--ms4)/1 var(--playfair-display);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
      }
    }
  }
}

// Poppins
// ----------------------------------------------------------------------------
.poppins-sample {
  background: #000;

  .text {
    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      color: #FFF;
      font: 700 var(--ms10)/0.9 var(--poppins);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
      }
    }
  }
}

// Rakkas
// ----------------------------------------------------------------------------
.rakkas-sample {
  background: #FFFEFA;

  .text {
    color: #272727;
    max-width: 1200px;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h2 {
      display: flex;
      font: 400 var(--ms13)/0.8 var(--rakkas);
      justify-content: space-between;
      margin: 0 0.05em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms8);
      }
    }

    h3 {
      color: #F00E31;
      font: 400 var(--ms10)/0.8 var(--rakkas);
      letter-spacing: 0.085em;
      margin: 0 0 0.05em 0.2em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
        letter-spacing: 0.07em;
      }
    }

    h2:first-child {
      border-top: 0.05em solid #272727;
      padding-top: 0.07em;
    }

    h2:last-child {
      border-bottom: 0.05em solid #272727;
    }

    .bullet {
      align-self: center;
      font-size: var(--ms11) !important;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms6) !important;
      }
    }
  }
}

// Source Code Pro
// ----------------------------------------------------------------------------
.source-code-pro-sample {
  background: #C5E3D7;

  .text {
    color: #000;
    text-align: center;
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 2em 0;
    }

    h1 {
      font: 300 var(--ms10)/1.1 var(--source-code-pro);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
      }
    }

    h2 {
      font: 900 var(--ms6)/1 var(--source-code-pro);
      margin-top: 2em;
      text-transform: uppercase;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms3);
      }
    }

    h3 {
      font: 500 var(--ms3)/1 var(--source-code-pro);
      margin-top: 0.5em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms0);
      }
    }
  }
}

// Source Sans Pro
// ----------------------------------------------------------------------------
.source-sans-pro-sample {
  background: #295D74;

  .text {
    color: #F6EFDF;
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 2em 0;
    }

    h1 {
      font: 700 var(--ms9)/1 var(--source-sans-pro);
      margin-bottom: 0.67em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms4);
        margin-bottom: 0.5em;
      }
    }

    h2 {
      font: 400 var(--ms3)/1 var(--source-sans-pro);
      font-feature-settings: 'smcp';
      margin: 0 0 0.15em 0.15em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
      }
    }
  }
}

// Source Serif Pro
// ----------------------------------------------------------------------------
.source-serif-pro-sample {
  background: #FCDEE0;

  .text {
    color: #272727;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      font: 400 var(--ms11)/0.8 var(--source-serif-pro);
      letter-spacing: -0.03em;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms6);
      }
    }

    h1:first-child {
      margin-bottom: 0.5em;
    }
  }
}

// Space Grotesk
// ----------------------------------------------------------------------------
.space-grotesk-sample {
  background: #000;

  .text {
    color: #000;
    max-width: 840px;
    text-align: center;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      font: 700 var(--ms7)/1.3 var(--space-grotesk);
      font-feature-settings: 'ss02';
      display: inline;
      margin: 0 0.05em;
      padding: 0.1em 0.1em;

      &:nth-child(1) {
        background: #D3544D;
      }

      &:nth-child(2) {
        background: #9AB099;
      }

      &:nth-child(3) {
        background: #5D6B92;
      }

      &:nth-child(4) {
        background: #E2A50E;
      }

      &:nth-child(5) {
        background: #D4BFC4;
      }

      &:nth-child(6) {
        background: #D71E1F;
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
      }
    }
  }
}

// Space Mono
// ----------------------------------------------------------------------------
.space-mono-sample {
  background: #FFC900;

  .text {
    color: #111;
    width: auto;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      font: 700 var(--ms9)/1 var(--space-mono);

      &:nth-child(2) {
        margin-bottom: 0.5em;
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms5);
      }
    }
  }
}

// Vollkorn
// ----------------------------------------------------------------------------
.vollkorn-sample {
  background: #00237D;

  .text {
    color: #FFFCFB;
    display: grid;
    flex-grow: unset;
    grid: 1fr / 1fr 4fr;
    grid-gap: 1.5em;
    max-width: 760px;

    h1,
    h2,
    p {
      font-size: var(--ms3);
      line-height: 1.4;
    }

    h1 {
      font-feature-settings: 'smcp';
      grid-area: 1 / 1;
      text-align: right;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms0);
      }
    }

    h2 {
      font-size: var(--ms2);
      grid-area: 1 / 1;
      line-height: 1.3;
      margin-bottom: 0.2em;
      text-align: right;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms-1);
      }
    }

    p {
      grid-area: 1 / 2;

      @media screen and (max-width: $mobile) {
        font-size: var(--ms0);
      }
    }
  }
}

// Work Sans
// ----------------------------------------------------------------------------
.work-sans-sample {
  background: #00A451;

  .text {
    color: #FFF;
    max-width: 960px;

    @media screen and (max-width: $mobile) {
      padding: 1em 0;
    }

    h1 {
      font: 800 var(--ms6)/1.3 var(--work-sans);

      @media screen and (max-width: $tablet) {
        font-size: var(--ms4);
      }

      @media screen and (max-width: $mobile) {
        font-size: var(--ms1);
        margin: 1em 0;
      }
    }
  }
}

// Zilla Slab
// ----------------------------------------------------------------------------
.zilla-slab-sample {
  background: linear-gradient(-90deg, #2f86d7, #1cf5ba);

  .text {
    color: #FFF;
    max-width: 820px;

    h1 {
      font: 300 var(--ms6)/1.2 var(--zilla-slab);

      @media screen and (max-width: $mobile) {
        font-size: var(--ms2);
      }
    }
  }
}
