.sample {
  background-color: #000;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > a {
    align-content: center;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    justify-content: center;
    padding: 2em;
  }
}

@media screen and (max-width: $tablet) {
  .sample > a {
    padding: 4em 3em;
  }
}

@media screen and (max-width: $mobile) {
  .sample > a {
    padding: 2em 1.5em;
  }
}

// Header for type tables and samples
// ----------------------------------------------------------------------------
.meta {
  border-top: 1px solid rgba(#fff, 0.3);
  border-bottom: 0;
  color: #fff;
  font: 700 var(--ms0)/1 var(--alegreya-sans);
  padding: 1.1em 1em 0.9em 1em;
  text-align: left;

  &.code {
    color: #a7a7a7;
    font-weight: 500;
  }

  &.top {
    border-bottom: 1px solid rgba(#fff, 0.3);
    border-top: 0;
  }

  &.dark {
    border-color: rgba(#000, 0.05);
    color: #333;
  }
}

// Hide sample label and remove anchor events when used on detail pages
// ----------------------------------------------------------------------------
.detail {
  .sample .meta {
    display: none;
  }

  .sample a {
    pointer-events: none;
  }
}

// Alegreya
// ----------------------------------------------------------------------------
.alegreya-sample {
  background-color: #DFD7C9;

  .text {
    color: rgba(#02040F, 0.75);
    margin: 0 auto;
    max-width: 760px;

    h1,
    p {
      font-size: var(--ms5);
      font-weight: 400;
      line-height: 1.1;
    }

    h1::first-line {
      font-feature-settings: 'smcp';
      font-weight: 700;
    }

    p {
      margin-top: 0.5em;
    }
  }
}

@media screen and (max-width: $mobile) {
  .alegreya-sample .text {
    h1,
    p {
      font-size: var(--ms2);
    }
  }
}

// Alegreya Sans
// ----------------------------------------------------------------------------
.alegreya-sans-sample {
  background-color: #EC3B3B;

  .text {
    margin: 0 auto;
    max-width: 920px;
    text-align: center;

    h1 {
      font-feature-settings: 'cpsp';
      font-size: var(--ms12);
      font-weight: 900;
      line-height: 0.85;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $mobile) {
  .alegreya-sans-sample .text {
    h1 {
      font-size: var(--ms7);
    }
  }
}

// Archivo
// ----------------------------------------------------------------------------
.archivo-sample {
  background-color: #000;

  .text {
    margin: 0 auto;
    max-width: 900px;

    h1 {
      color: #FFF;
      font-size: var(--ms7);
      font-weight: 700;
      line-height: 1.05;
      padding: 0.5em;

      span {
        display: block;
        margin-top: 0.5em;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .archivo-sample .text {
    h1 {
      font-size: var(--ms4);
    }
  }
}

// Archivo Black
// ----------------------------------------------------------------------------
.archivo-black-sample {
  background-color: #F5C827;

  .text {
    color: #0B0A08;
    margin: 0 auto;
    max-width: 1000px;

    h1 {
      font-size: var(--ms11);
      font-weight: 400;
      letter-spacing: -0.05em;
      line-height: 0.8;
      margin-bottom: 0.5rem;
    }

    h2 {
      border-top: 0.2em solid #0B0A08;
      font-size: var(--ms3);
      padding-top: 0.5rem;
      text-align: right;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $mobile) {
  .archivo-black-sample .text {
    h1 {
      font-size: var(--ms8);
    }
  }
}

// BioRhyme
// ----------------------------------------------------------------------------
.biorhyme-sample {
  background-color: #F1592A;

  .text {
    color: #FFF;
    margin: 0 auto;
    max-width: 940px;
    text-align: center;

    h1 {
      font-size: var(--ms12);
      font-weight: 800;
      line-height: 1;
    }
  }
}

@media screen and (max-width: $mobile) {
  .biorhyme-sample .text {
    h1 {
      font-size: var(--ms7);
    }
  }
}

// Cooper Hewitt
// ----------------------------------------------------------------------------
.cooper-hewitt-sample {
  background-color: #3A274E;

  .text {
    color: #FFF;
    margin: 0 auto;
    text-align: center;

    h1 {
      font-size: var(--ms10);
      font-weight: 400;
      line-height: 1;
      margin-bottom: 1em;
      text-transform: uppercase;
    }

    h2 {
      font-size: var(--ms4);
      font-weight: 300;
      line-height: 1.3;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $tablet) {
  .cooper-hewitt-sample .text {
    h1 {
      font-size: var(--ms8);
      margin-top: 0.2em;
    }

    h2 {
      font-size: var(--ms2);
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: $mobile) {
  .cooper-hewitt-sample .text {
    h1 {
      font-size: var(--ms5);
    }

    h2 {
      font-size: var(--ms1);
    }
  }
}

// Jost*
// ----------------------------------------------------------------------------
.jost-sample {
  .text {
    margin: 0 auto;
    max-width: 960px;
    text-align: center;

    h1 {
      font-size: var(--ms10);
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }

    h2 {
      font-size: var(--ms6);
      font-weight: 400;
      line-height: 1;
      letter-spacing: 0.0975em;
      opacity: 0.5;
      margin-top: 0.5em;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $mobile) {
  .jost-sample .text {
    h1 {
      font-size: var(--ms5);
    }

    h2 {
      font-size: var(--ms1);
    }
  }
}

// Libre Franklin
// ----------------------------------------------------------------------------
.libre-franklin-sample {
  background-color: #EBDDC5;

  .text {
    margin: 0 auto;
    max-width: 960px;

    h1 {
      color: #EE4128;
      font-size: var(--ms11);
      font-weight: 900;
      line-height: 0.9;
      text-transform: uppercase;

      &:nth-child(2) {
        margin-bottom: 0.05em;
      }
    }

    .yellow {
      color: #FDC00D;
    }

    .green {
      color: #56B557;
    }

    h2 {
      color: #373737;
      display: flex;
      font-size: var(--ms2);
      font-weight: 900;
      justify-content: space-between;
      margin: 0 0.075em 0 0.35em;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $mobile) {
  .libre-franklin-sample .text {
    h1 {
      font-size: var(--ms6);
    }

    h2 {
      flex-direction: column;
      font-size: var(--ms1);
      line-height: 1.2;
      margin: 0.75em 0 0 0.2em;
    }
  }
}

// Lora
// ----------------------------------------------------------------------------
.lora-sample {
  background-color: #77918D;

  .text {
    color: #FFF;
    margin: 0 auto;
    max-width: 600px;

    p {
      font-size: var(--ms3);
      font-style: italic;
      font-weight: 400;
      line-height: 1.4;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: var(--ms1);
      font-weight: 700;
      letter-spacing: 0.1em;
      line-height: 1;
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: $mobile) {
  .lora-sample .text {
    p {
      font-size: var(--ms1);
      line-height: 1.3;
    }

    h2 {
      font-size: var(--ms-1);
    }
  }
}

// Oswald
// ----------------------------------------------------------------------------
.oswald-sample {
  background-color: #25408F;

  .text {
    color: #EC1C23;
    margin: 0 auto;
    max-width: 960px;

    h1 {
      font-size: var(--ms16);
      font-weight: 900;
      line-height: 1;
    }
  }
}

@media screen and (max-width: $mobile) {
  .oswald-sample .text {
    h1 {
      font-size: var(--ms11);
    }
  }
}

// Playfair Display
// ----------------------------------------------------------------------------
.playfair-display-sample {
  background-color: #55AF8C;

  .text {
    margin: 0 auto;
    text-align: center;

    h1 {
      color: #F6F3CF;
      font-feature-settings: 'smcp', 'dlig';
      font-size: var(--ms11);
      font-style: italic;
      font-weight: 400;
      line-height: 0.7;

      &:nth-child(3) {
        font-weight: 900;
        line-height: 0.55;
        margin-bottom: 0.5em;
      }
    }

    p {
      color: #272727;
      font-size: var(--ms4);
      font-style: italic;
      font-weight: 400;
      line-height: 1;
    }
  }
}

@media screen and (max-width: $mobile) {
  .playfair-display-sample .text {
    h1 {
      font-size: var(--ms5);
    }

    p {
      font-size: var(--ms2);
    }
  }
}

// Rakkas
// ----------------------------------------------------------------------------
.rakkas-sample {
  background-color: #FFF;

  .text {
    color: #272727;
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    text-transform: uppercase;

    h2, h4 {
      display: flex;
      font-size: var(--ms12);
      line-height: 0.8;
      justify-content: space-between;
      margin: 0 0.05em;
    }

    h3 {
      color: #F00E31;
      font-size: var(--ms9);
      letter-spacing: 0.085em;
      line-height: 0.8;
      margin: 0 0 0.05em 0.2em;
    }

    .bullet {
      align-self: center;
      font-size: var(--ms10) !important;
    }
  }
}

@media screen and (max-width: $mobile) {
  .rakkas-sample .text {
    h2, h4 {
      font-size: var(--ms8);
    }

    h3 {
      font-size: var(--ms5);
      letter-spacing: 0.07em;
    }

    .bullet {
      font-size: var(--ms6) !important;
    }
  }
}

// Source Serif Pro
// ----------------------------------------------------------------------------
.source-serif-pro-sample {
  background-color: #FCDEE0;

  .text {
    color: #272727;
    margin: 0 auto;

    h1 {
      font-size: var(--ms11);
      font-weight: 400;
      letter-spacing: -0.03em;
      line-height: 0.8;
    }

    h1:first-child {
      margin-bottom: 0.5em;
    }
  }
}

@media screen and (max-width: $mobile) {
  .source-serif-pro-sample .text {
    h1 {
      font-size: var(--ms6);
    }
  }
}

// Vollkorn
// ----------------------------------------------------------------------------
.vollkorn-sample {
  background-color: #00237D;

  .text {
    color: #FFFCFB;
    display: grid;
    flex-grow: unset;
    grid: 1fr / 1fr 4fr;
    grid-gap: 1.5em;
    margin: 0 auto;
    max-width: 760px;

    h1,
    h2,
    p {
      font-feature-settings: 'dlig' off;
      font-size: var(--ms3);
      line-height: 1.4;

    }

    h1 {
      font-feature-settings: 'smcp', 'dlig' off;
      grid-area: 1 / 1;
      text-align: right;
    }

    h2 {
      font-size: var(--ms2);
      grid-area: 1 / 1;
      line-height: 1.3;
      margin-bottom: 0.2em;
      text-align: right;
    }

    p {
      grid-area: 1 / 2;
    }
  }
}

@media screen and (max-width: $mobile) {
  .vollkorn-sample .text {
    h1,
    p {
      font-size: var(--ms0);
    }

    h2 {
      font-size: var(--ms-1);
    }
  }
}

// Zilla Slab
// ----------------------------------------------------------------------------
.zilla-slab-sample {
  background-image: linear-gradient(-90deg,#2f86d7,#1cf5ba);

  .text {
    color: #FFF;
    margin: 0 auto;
    max-width: 820px;

    h1 {
      font-size: var(--ms6);
      font-weight: 300;
      line-height: 1.2;
    }
  }
}

@media screen and (max-width: $mobile) {
  .zilla-slab-sample .text {
    h1 {
      font-size: var(--ms2);
    }
  }
}
