// Other styles
// ----------------------------------------------------------------------------
:root { --ui-face: var(--source-sans-pro); }
.ui-face { font-family: var(--source-sans-pro); }
:root { --ui-monospaced: var(--ibm-plex-mono); }
.ui-monospaced { font-family: var(--ibm-plex-mono); }

.highlight { color: var(--red); }

.fade {
  color: #c9c9c9;
  font-feature-settings: 'calt' off, 'liga' off, 'clig' off, 'dlig' off, 'subs' off, 'sups' off;
}

.page-header {
  margin: 1.5rem 0 2rem;

  @media screen and (max-width: $tablet) { margin: 1em 0 1.5rem; }

  h1 {
    font: italic 400 var(--ms8)/4rem var(--alegreya-sans);

    @media screen and (max-width: $tablet) {
      font-size: var(--ms4);
      line-height: 2rem;
    }
  }

  p {
    font: italic 400 var(--ms3)/1.3 var(--alegreya-sans);
    margin: 0 1em;

    @media screen and (max-width: $tablet) {
      font-size: var(--ms2);
    }
  }

  a {
    color: var(--red);
    font-weight: 400;
  }
}

.page-subhead {
  font: italic 400 var(--ms6)/1 var(--alegreya-sans);

  @media screen and (max-width: $tablet) {
    font-size: var(--ms3);
    grid-area: span 1 / span 6 !important;
    margin-top: 1em;
  }
}

@media screen and (max-width: $tablet) {
  .page-header + .page-header {
    margin: 0 0 1em 0;
  }
}
