// Other styles
// ----------------------------------------------------------------------------
.highlight { color: red; }

.fade {
  color: #c9c9c9;
  font-feature-settings: 'calt' off, 'liga' off, 'clig' off, 'dlig' off, 'subs' off, 'sups' off;
}

.jost { font-family: 'Jost*'; }

.page-header {
  margin: 3em 0 5em 0;

  h1 {
    font: italic 400 var(--ms8)/1 var(--alegreya-sans);
  }

  p {
    font: italic 300 var(--ms3)/1.3 var(--alegreya-sans);
    margin: 0 1em;
  }

  a {
    color: red;
    font-weight: 400;
  }
}

@media screen and (max-width: $tablet) {
  .page-header {
    margin: 1em 0 0 0;

    h1 {
      font-size: var(--ms4);
    }

    p {
      font-size: var(--ms2);
    }
  }

  .page-header + .page-header {
    margin: 0 0 1em 0;
  }
}
