.w300 {
  font-weight: 300;
}

.w400 {
  font-weight: 400;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.w900 {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.merriweather {
  font-family: Merriweather, serif;
}
