---
title: Definitive Guide to the Best Free Sans-Serif Fonts
category-name: Sans-Serif
permalink: /sans-serif/
body-class: sans-serif
body-head-content:
  <meta property='og:title' content='Definitive Guide to the Best Free Sans-Serif Fonts'>
  <meta property='og:image' content='https://beautifulwebtype.com/assets/images/card.png'>
  <link rel='preload' href='/assets/fonts/alegreya-sans/AlegreyaSans-Italic.woff2' as='font' type='font/woff2' crossorigin='anonymous'>
---

{% assign typefaces = site.data.typefaces | where: 'category', 'Sans-Serif' %}

<div class='samples grid'>
  <div class='gr1 gc12 page-header center'>
    <h1>Sans-Serif Typefaces</h1>
  </div>

  {% for typeface in typefaces %}
    {% include sample.html %}
  {% endfor %}
</div>
