<div class="sample cardo gr5 gc6">
  <div class="text">
    <a href="/cardo">
      <h2>&ldquo;I personally would rather do the existentially essential things in life on foot. If you live in England and your girlfriend is in Sicily, and it is clear you want to marry her, then you should walk to Sicily to propose. For these things travel by car or aeroplane is not the right thing.&rdquo;</h2>
      <p><cite>Werner Herzog, <em>Of Walking in Ice</em></cite></p>
    </a>
  </div>
  <div class="meta">
    <p class="name"><strong>Cardo</strong> by David Perry</p>
    <p class="direct-link"><a href="https://fonts.google.com/specimen/Cardo" target="_blank">Get this font</a></p>
  </div>
</div>
