<div><span>A</span></div>
<div><span>B</span></div>
<div><span>C</span></div>
<div><span>D</span></div>
<div><span>E</span></div>
<div><span>F</span></div>
<div><span>G</span></div>
<div><span>H</span></div>
<div><span>I</span></div>
<div><span>J</span></div>
<div><span>K</span></div>
<div><span>L</span></div>
<div><span>M</span></div>
<div><span>N</span></div>
<div><span>O</span></div>
<div><span>P</span></div>
<div><span>Q</span></div>
<div><span>R</span></div>
<div><span>S</span></div>
<div><span>T</span></div>
<div><span>U</span></div>
<div><span>V</span></div>
<div><span>W</span></div>
<div><span>X</span></div>
<div><span>Y</span></div>
<div><span>Z</span></div>
<div><span>Å</span></div>
<div><span>Æ</span></div>
<div><span>Ç</span></div>
<div><span>É</span></div>
<div><span>Ø</span></div>
<div><span>Ñ</span></div>
<div><span>Ü</span></div>
<div><span>Ž</span></div>
<div><span>1234567890</span></div>
<div><span>‘¿?’</span></div>
<div><span>“!”</span></div>
<div><span>- &ndash; &mdash;</span></div>
<div><span>(&)</span></div>
<div><span>[*]</span></div>
<div><span>{@}</span></div>
<div><span>€£¥$¢</span></div>
<div><span>:;,.</span></div>
<div><span><>+÷×=</span></div>
