<div><span>Aa</span></div>
<div><span>Bb</span></div>
<div><span>Cc</span></div>
<div><span>Dd</span></div>
<div><span>Ee</span></div>
<div><span>Ff</span></div>
<div><span>Gg</span></div>
<div><span>Hh</span></div>
<div><span>Ii</span></div>
<div><span>Jj</span></div>
<div><span>Kk</span></div>
<div><span>Ll</span></div>
<div><span>Mm</span></div>
<div><span>Nn</span></div>
<div><span>Oo</span></div>
<div><span>Pp</span></div>
<div><span>Qq</span></div>
<div><span>Rr</span></div>
<div><span>Ss</span></div>
<div><span>Tt</span></div>
<div><span>Uu</span></div>
<div><span>Vv</span></div>
<div><span>Ww</span></div>
<div><span>Xx</span></div>
<div><span>Yy</span></div>
<div><span>Zz</span></div>
<div><span>Åå</span></div>
<div><span>Ææ</span></div>
<div><span>Çç</span></div>
<div><span>Éé</span></div>
<div><span>Øø</span></div>
<div><span>Ññ</span></div>
<div><span>Üü</span></div>
<div><span>Žž</span></div>
<div><span>1234567890</span></div>
<div><span>‘¿?’</span></div>
<div><span>“!”</span></div>
<div><span>- &ndash; &mdash;</span></div>
<div><span>(&)</span></div>
<div><span>[*]</span></div>
<div><span>{@}</span></div>
<div><span>€£¥$¢</span></div>
<div><span>:;,.</span></div>
<div><span><>+÷×=</span></div>
