<div class="sample fira-mono gr4 gc6">
  <a href="/fira-mono">
    <table>
      <thead>
       <tr>
          <th data-stat="year_ID" scope="col">Year</th>
          <th data-stat="G" scope="col">G</th>
          <th data-stat="R" scope="col">R</th>
          <th data-stat="H" scope="col">H</th>
          <th data-stat="2B" scope="col">2B</th>
          <th data-stat="3B" scope="col">3B</th>
          <th data-stat="HR" scope="col">HR</th>
          <th data-stat="RBI" scope="col">RBI</th>
          <th data-stat="batting_avg" scope="col" data-filter="1" data-name="Batting Average">BA</th>
       </tr>
    </thead>
    <tbody>
    <tr data-row="3"><th scope="row" data-stat="year_ID" csk="1939">1939</th><td data-stat="G">149</td><td data-stat="R">131</td><td data-stat="H">185</td><td data-stat="2B">44</td><td data-stat="3B">11</td><td data-stat="HR">31</td><td data-stat="RBI">145</td><td data-stat="batting_avg">.327</td></tr>
    <tr data-row="4"><th scope="row" data-stat="year_ID" csk="1940">1940<span class="sr_star" id=""></span></th><td data-stat="G">144</td><td data-stat="R">134</td><td data-stat="H">193</td><td data-stat="2B">43</td><td data-stat="3B">14</td><td data-stat="HR">23</td><td data-stat="RBI">113</td><td data-stat="batting_avg">.344</td></tr>
    <tr data-row="5"><th scope="row" data-stat="year_ID" csk="1941">1941<span class="sr_star" id=""></span></th><td data-stat="G">143</td><td data-stat="R">135</td><td data-stat="H">185</td><td data-stat="2B">33</td><td data-stat="3B">3</td><td data-stat="HR">37</td><td data-stat="RBI">120</td><td data-stat="batting_avg">.406</td></tr>
    <tr data-row="6"><th scope="row" data-stat="year_ID" csk="1942">1942<span class="sr_star" id=""></span></th><td data-stat="G">150</td><td data-stat="R">141</td><td data-stat="H">186</td><td data-stat="2B">34</td><td data-stat="3B">5</td><td data-stat="HR">36</td><td data-stat="RBI">137</td><td data-stat="batting_avg">.356</td></tr>
    </tbody>
    <tfoot><tr data-row="25"><th scope="row" data-stat="player_stats_summary_explain" colspan="1">19Y</th><td data-stat="G">2292</td><td data-stat="R">1798</td><td data-stat="H">2654</td><td data-stat="2B">525</td><td data-stat="3B">71</td><td data-stat="HR">521</td><td data-stat="RBI">1839</td><td data-stat="batting_avg">.344</td></tr>
    </tfoot>
    </table>
  </a>
  <div class="meta dark">
    <p class="name"><strong>Fira Mono</strong> by Carrois Apostrophe</p>
    <p class="direct-link"><a href="https://fonts.google.com/specimen/Fira+Mono" target="_blank">Get this font</a></p>
  </div>
</div>
