<footer class='grid'>
  {% assign typefaces = site.typefaces | where: 'category', 'Serif' %}
  <div class='footer-type-list gr1 gc2'>
    <h3><a href='/serif/'>Serif Typefaces</a></h3>
    <ol>
    {% for typeface in typefaces %}
      <li><a href='{{ typeface.url }}'>{{ typeface.name }}</a></li>
    {% endfor %}
    </ol>
  </div>

  {% assign typefaces = site.typefaces | where: 'category', 'Sans-Serif' %}
  <div class='footer-type-list gr1 gc2'>
    <h3><a href='/sans-serif/'>Sans-Serif Typefaces</a></h3>
    <ol>
    {% for typeface in typefaces %}
      <li><a href='{{ typeface.url }}'>{{ typeface.name }}</a></li>
    {% endfor %}
    </ol>
  </div>

  {% assign typefaces = site.typefaces | where: 'category', 'Display' %}
  <div class='footer-type-list gr1 gc2'>
    <h3><a href='/display/'>Display Typefaces</a></h3>
    <ol>
    {% for typeface in typefaces %}
      <li><a href='{{ typeface.url }}'>{{ typeface.name }}</a></li>
    {% endfor %}
    </ol>
  </div>

  {% assign typefaces = site.typefaces | where: 'category', 'Monospaced'  %}
  <div class='footer-type-list gr1 gc2'>
    <h3><a href='/monospaced/'>Monospaced Typefaces</a></h3>
    <ol>
    {% for typeface in typefaces %}
      <li><a href='{{ typeface.url }}'>{{ typeface.name }}</a></li>
    {% endfor %}
    </ol>
  </div>

  <div class='footer-type-list gr1 gc2'>
    <h3>Additional Info</h3>
    <ol>
      <li><a href='https://github.com/ubuwaits/beautiful-web-type' target='_blank' rel='noopener'>Source on GitHub</a></li>
      <li><a href='https://www.are.na/chad-mazzola/beautiful-web-type' target='_blank' rel='noopener noreferrer'>Are.na Channel</a></li>
      <li><a href='https://tinyletter.com/beautifulwebtype' target='_blank' rel='noopener noreferrer'>Newsletter</a></li>
      <li><a href='/feed.xml'>Atom feed</a></li>
      <li><a href='/v1/'>Old version of site</a></li>
    </ol>
  </div>

  <div class='footer-type-list gr1 gc2'>
    <h3>About Me</h3>
    <ol>
      <li><a href='https://chad.is' target='_blank' rel='noopener'>Personal site</a></li>
      <li><a href='https://twitter.com/ubuwaits' target='_blank' rel='noopener noreferrer'>@ubuwaits</a></li>
    </ol>
  </div>
</footer>
