<div class="sample gentium-basic gr5 gc6">
  <div class="text">
    <a href="/gentium-basic">
      <h1>Middlemarch</h1>
      <p>It had taken long for her to come to that question, and there was light piercing into the room. She opened her curtains, and looked out towards the bit of road that lay in view, with fields beyond outside the entrance-gates. On the road there was a man with a bundle on his back and a woman carrying her baby; in the field she could see figures moving—perhaps the shepherd with his dog. Far off in the bending sky was the pearly light; and she felt the largeness of the world and the manifold wakings of men to labor and endurance. She was a part of that involuntary, palpitating life, and could neither look out on it from her luxurious shelter as a mere spectator, nor hide her eyes in selfish complaining.</p>
      <p class="source">by George Eliot</p>
    </a>
  </div>
  <div class="meta dark">
    <p class="name"><strong>Gentium Basic</strong> by Victor Gaultney</p>
    <p class="direct-link"><a href="https://fonts.google.com/specimen/Gentium+Basic" target="_blank">Get this font</a></p>
  </div>
</div>
