<!-- <div class="sample karla gr4 gc6">
  <div class="text">
    <h2>There is grim philosophical irony</h2>
    <p>There is grim philosophical irony in the fact that Albert Camus</p>
    <p>It is only superficially that Camus&rsquo; philosophy seemed to some readers to be a doctrine of pessimism and despair. Rather it is a creed which calls on men for the most heroic kind of affirmation of life. Comparing mankind&rsquo;s destiny to that of Sisyphus, who must endlessly roll the stone toward the mountain top, knowing full well that it will roll back before the goal is reached so that it must be pushed up again in an endless cycle of toil, Camus nevertheless rejected the alternatives either of physical suicide or of what he regarded as philosophic suicide, that is, the consolation to be found in illusion.</p>
  </div>
  <div class="meta dark">
    <p>Karla</p>
  </div>
</div> -->
