<div class="sample old-standard-tt gr6 gc6">
  <div class="text">
    <a href="/old-standard-tt">
      <h1 class="small">On</h1>
      <h1>the Origin<br> of Species</h1>
      <h1 class="small">By means of natural selection</h1>
      <h2>By Charles Darwin, M.A.,</h2>
      <h3>Fellow of the Royal, Geological, Linn&aelig;an, ETC., Societies;<br>Author of &lsquo;Journal of Researches During H.M.S. Beagle&rsquo;s Voyage Round the World.&rsquo;</h3>
      <h4>The right of Translation is reserved.</h4>
    </a>
  </div>
  <div class="meta dark">
    <p class="name"><strong>Old Standard TT</strong> by Alexey Kryukov</p>
    <p class="direct-link"><a href="https://fonts.google.com/specimen/Old+Standard+TT" target="_blank">Get this font</a></p>
  </div>
</div>
