<div class="sample playfair-display gr4 gc6">
  <div class="text">
    <a href="/playfair-display">
      <h1 class="first">the <br>the</h1>
      <h1 class="second">isms go<br>ist dies</h1>
      <h1 class="third">art remains.</h1>
      <p>Vladimir Nabokov</p>
    </a>
  </div>
  <div class="meta dark">
    <p class="name"><strong>Playfair Display</strong> by Claus Eggers Sørensen</p>
    <p class="direct-link"><a href="https://fonts.google.com/specimen/Playfair+Display" target="_blank">Get this font</a></p>
  </div>
</div>
