<div class='type-detail-table gr1 gc6'>
  <div class='meta dark top'>
    <p class='name'>{{ typeface.name }} vs {{ comparison-face }}</p>
  </div>
  <div class='examples flow-column typeface-comparison'>
    <div>
      <h1 class='{{ typeface.name | downcase | replace: ' ', '-' }}' contenteditable='true'>{{ text.word-05 }}</h1>
      <p class='character-label'>{{ typeface.name }}</p>
    </div>
    <div>
      <h1 class='{{ comparison-face | downcase | replace: ' ', '-' }}' contenteditable='true'>{{ text.word-05 }}</h1>
      <p class='character-label'><a href='/{{ comparison-face | downcase | replace: ' ', '-' }}/'>{{ comparison-face }}</a></p>
    </div>
  </div>
</div>
