<div class='type-detail-table gr1 gc12'>
  <div class='examples flow-column typeface-comparison'>
    <div>
      <h1 class='{{ typeface.name | slugify }}' contenteditable='true'>{{ text.words[3] }}</h1>
      <p class='character-label'>{{ typeface.name }}</p>
    </div>
    {% for comparison-face in typeface.comparison_faces %}
      <div>
        <h1 class='{{ comparison-face | slugify }}' contenteditable='true'>{{ text.words[3] }}</h1>
        <p class='character-label'><a href='/{{ comparison-face | slugify }}/'>{{ comparison-face }}</a></p>
      </div>
    {% endfor %}
  </div>
</div>
