<div class="sample vollkorn gr4 gc6">
  <div class="text">
    <a href="/vollkorn">
      <h1><span>Edward T<span class="kern">u</span>f<span class="kern push">t</span>e</span></h1>
      <p>&ldquo;The best graphics are about the useful and important, about life and death, about the universe. Beautiful graphics do not traffic with the trivial.&rdquo;</p>
    </a>
  </div>
  <div class="meta dark">
    <p class="name"><strong>Vollkorn</strong> by Friedrich Althausen</p>
    <p class="direct-link"><a href="https://fonts.google.com/specimen/Vollkorn" target="_blank">Get this font</a></p>
  </div>
</div>
