@import 'reset';
@import 'bourbon/bourbon';

body {
  background: #c8c8c8;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

.sample {
  padding: 175px 0;
  position: relative;

  &.beautiful {
    @extend .clearfix;
    background: #d0d0d0;
    padding: 0 0 50px 0;

    .text {
      padding: 25px;
      position: relative;
      width: 700px;
    }

    h1 {
      color: #fff;
      display: inline-block;
      font: 900 84px/76px 'lato';
      letter-spacing: -2px;
      margin: 0 0 12px 0;
      padding: 0 0 24px 0;
    }

    blockquote {
      color: #666;
      font: 700 11px/23px 'lato';
      position: absolute;
      right: 50px;
      width: 180px;
    }

    p {
      color: #888;
      font: 400 14px/23px 'lato';
      margin: 0 250px 20px 0px;

      em {
        font-weight: 700;
        font-style: italic;
      }
    }
  }

  &.nietzsche {
    background: #ef4723;
    padding: 50px 0 100px 0;

    .text {
      margin: 0 auto;
      padding: 0 50px;
      width: 800px;
    }

    .inner-text {
      -webkit-column-count: 2;
      -webkit-column-gap: 50px;
    }

    h1 {
      color: #222;
      font: 800 64px/64px 'open sans';
      margin: 0 0 32px 0;
      text-align: center;
      text-transform: uppercase;
      width: 800px;
      z-index: 0;

      span {
        font: 400 60px/60px 'gentium book basic';
        font-style: italic;
        text-transform: none;

        &.nudge {
          margin: 0 0 0 -10px;
        }
      }
    }

    h2 {
      border-top: 1px solid #222;
      color: #222;
      font: 800 20px/20px 'open sans';
      margin: 0 0 20px 0;
      text-align: center;
      text-transform: uppercase;

      span {
        background: #ef4723;
        padding: 0 20px;
        position: relative;
        top: -10px;
      }
    }

    p {
      color: #222;
      font: 400 16px/24px 'gentium book basic';
      margin: 0 0 0 0;
      text-indent: 16px;
      z-index: 1;

      &:first-child {
        text-indent: 0;
      }
    }
  }

  &.emptiness {
    background: #fcfaf2;
    padding: 450px 0 100px 0;

    .text {
      padding: 0 100px;
      width: 500px;
    }

    h1 {
      color: #333;
      font: 400 20px/30px 'pt serif';
      font-style: italic;
      margin: 0 0 12px 0;
      letter-spacing: -1px;
      text-indent: -6px;
    }

    p {
      color: #c90707;
      font: 400 11px/18px 'pt serif';
      letter-spacing: 1px;
      text-transform: uppercase;
      text-indent: -10px;
    }
  }

  &.structure {
    background: #000;

    .text {
      padding: 0 50px;
    }

    h1 {
      color: #fff;
      font: 400 92px/84px Abril Fatface;
      margin: 0 0 36px 0;
    }

    p {
      color: #f7f0d7;
      font: 700 13px/18px 'open sans';
      text-transform: uppercase;
    }
  }

  &.carson-poem {
    background: #fcfaff;

    .text {
      margin: 0 0 0 150px;
      width: 500px;

      h1 {
        color: #000;
        font: 400 18px/18px Vollkorn;
        margin: 0 0 18px 0;
      }

      p.poem {
        color: #272727;
        font: 400 18px/28px Vollkorn;
        font-style: italic;
      }

      p.byline {
        color: #555;
        font: 400 14px/14px Vollkorn;
        font-style: normal;
        margin: 6px 0 0 0;
      }
    }
  }

  &.slogan {
    background: #c00;
    padding: 250px 0;
    text-align: center;

    .text {
      margin: 0 auto;
      width: 700px;
    }

    h1 {
      border-bottom: 6px solid #090909;
      color: #090909;
      display: inline-block;
      font: 400 76px/64px 'Gravitas One';
      letter-spacing: -4px;
      margin: 0 0 20px 0;
      padding: 0 4px;
      text-transform: uppercase;
    }
  }
}
