@import 'reset';
@import 'bourbon/bourbon';

body {
  background: #c8c8c8;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.sample {

  // Project heading
  // ***************************************************************************
  &.title {
    background: #fff;
    padding: 125px 0 250px 0;

    .text {
      margin: 0 auto;
      width: 800px;
    }

    h1 {
      color: #000;
      font: 400 87px/84px Abril Fatface;
    }

    h2 {
      color: #222;
      font: 300 18px/24px 'open sans';
      margin: 0 0 36px 0;
      width: 650px;

      a:hover {
        font-weight: 700;
      }
    }

    p, ul {
      color: #666;
      float: left;
      font: 400 13px/21px 'open sans';
      margin: 0 50px 0 0;
      width: 450px;
    }

    ul {
      margin: 0;
      position: relative;
      top: -2px;
      width: 300px;

      li {
        font-size: 11px;
        text-transform: uppercase;

        &:before {
          content: "\00d7";
          font-size: 15px;
          font-weight: 700;
          left: -2px;
          position: relative;
          top: 2px;
        }

        a {
          &:hover {
            color: #222;
            font-weight: 700;
          }
        }
      }
    }
  }

  // Nietzsche quote
  // ***************************************************************************
  &.nietzsche {
    background: #ef4723;
    padding: 100px 0;

    .text {
      margin: 0 auto;
      padding: 0 50px;
      width: 800px;
    }

    .excerpt {
      -moz-column-count: 2;
      -moz-column-gap: 50px;
      -webkit-column-count: 2;
      -webkit-column-gap: 50px;
    }

    h1 {
      color: #222;
      font: 800 64px/64px 'open sans';
      margin: 0 0 32px 0;
      text-align: center;
      text-transform: uppercase;
      width: 800px;

      span {
        font: 400 60px/60px 'gentium book basic';
        font-style: italic;
        text-transform: none;

        &.nudge {
          margin: 0 0 0 -10px;
        }
      }
    }

    h2 {
      border-top: 1px solid #222;
      color: #222;
      font: 800 20px/20px 'open sans';
      margin: 0 0 20px 0;
      text-align: center;
      text-transform: uppercase;

      span {
        background: #ef4723;
        padding: 0 20px;
        position: relative;
        top: -10px;
      }
    }

    p {
      color: #222;
      font: 400 16px/24px 'gentium book basic';
      margin: 0;
    }
  }

  // Bringhurst quote
  // ***************************************************************************
  &.bringhurst {
    background: #fcfaf2;
    padding: 350px 0 350px 0;

    .text {
      margin: 0 auto;
      padding: 0 100px;
      width: 410px;
    }

    h1 {
      color: #333;
      font: 400 20px/30px 'vollkorn';
      font-style: italic;
      margin: 0 0 10px 0;
      text-indent: -6px;
    }

    p {
      color: #c90707;
      font: 400 12px/18px 'vollkorn';
      letter-spacing: 1px;
      text-transform: uppercase;
      text-indent: -13px;
    }
  }

  // "Don't Die Wondering"
  // ***************************************************************************
  &.slogan {
    background: #c00;
    padding: 250px 0;
    text-align: center;

    .text {
      margin: 0 auto;
      width: 700px;
    }

    h1 {
      border-bottom: 6px solid #090909;
      color: #090909;
      display: inline-block;
      font: 400 76px/64px 'Gravitas One';
      letter-spacing: -4px;
      margin: 0 0 20px 0;
      padding: 0 4px;
      text-transform: uppercase;
    }
  }

  // "The Future of Experience Design"
  // ***************************************************************************
  &.experience {
    background: #d0d0d0;
    padding: 150px 0;

    .text {
      margin: 0 auto;
      width: 680px;
    }

    h1 {
      color: #fff;
      font: 900 80px/76px 'lato';
      letter-spacing: -2px;
      margin: 0 auto 12px;
      padding: 0 0 24px 0;
      text-align: center;
    }

    ul {
      margin: 25px 35px 0;

      li {
        border-top: 2px solid #aaa;
        color: #666;
        font: 700 14px/14px 'lato';
        margin: 0 0 14px 0;

        span {
          background: #d0d0d0;
          padding: 0 6px 0 0;
          position: relative;
          top: -10px;
        }

        span + span {
          float: right;
          padding: 0 0 0 6px;
        }
      }
    }
  }

  // "Meaning & Structure in Design"
  // ***************************************************************************
  &.headline {
    background: #000;
    padding: 200px 0;

    .text {
      margin: 0 auto;
      width: 470px;
    }

    h1 {
      color: #fff;
      font: 400 92px/84px Abril Fatface;
    }
  }
}

