@import 'reset';
@import 'bourbon/bourbon';

body {
  background: #c8c8c8;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

.sample {
  padding: 175px 0;

  &.structure {
    padding-top: 50px;

    .text {
      padding: 0 50px;
      width: 880px;
    }

    .blocks {
      @extend .clearfix;
    }

    .block {
      float: left;
      margin: 0 20px 0 0;
      width: 200px;

      p {
        color: #333;
        font: 400 12px/18px 'open sans';
      }
    }

    h1 {
      font: 400 114px/98px Abril Fatface;
      margin: 80px 0 0 440px;
    }
  }

  &.carson-poem {
    background: #fcfaff;

    .text {
      margin: 0 0 0 150px;
      width: 500px;

      h1 {
        color: #000;
        font: 400 18px/18px Vollkorn;
        margin: 0 0 18px 0;
      }

      p.poem {
        color: #272727;
        font: 400 18px/28px Vollkorn;
        font-style: italic;
      }

      p.byline {
        color: #555;
        font: 400 14px/14px Vollkorn;
        font-style: normal;
        margin: 6px 0 0 0;
      }
    }
  }

  &.slogan {
    background: #c00;
    padding: 250px 0;
    text-align: center;

    .text {
      margin: 0 auto;
      width: 700px;
    }

    h1 {
      border-bottom: 6px solid #090909;
      color: #090909;
      display: inline-block;
      font: 400 76px/64px 'Gravitas One';
      letter-spacing: -4px;
      margin: 0 0 20px 0;
      padding: 0 4px;
      text-transform: uppercase;
    }
  }
}
