.alegreya-sans { font-family: 'Alegreya Sans', serif; }

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-Thin.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-ThinItalic.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-Light.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-LightItalic.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-Regular.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-Italic.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-Medium.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-MediumItalic.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-Bold.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-BoldItalic.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-ExtraBold.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-Black.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  src:  url('/assets/fonts/alegreya-sans/AlegreyaSans-BlackItalic.woff2') format('woff2'),
	      url('/assets/fonts/alegreya-sans/AlegreyaSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
