:root { --alegreya: 'Alegreya', serif; }
.alegreya { font-family: 'Alegreya', serif !important; }

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/alegreya/Alegreya-Regular.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/alegreya/Alegreya-Italic.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/alegreya/Alegreya-Medium.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/alegreya/Alegreya-MediumItalic.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/alegreya/Alegreya-Bold.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/alegreya/Alegreya-BoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/alegreya/Alegreya-ExtraBold.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/alegreya/Alegreya-ExtraBoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/alegreya/Alegreya-Black.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-Black.woff') format('woff');
}

@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/alegreya/Alegreya-BlackItalic.woff2') format('woff2'),
	     url('/assets/fonts/alegreya/Alegreya-BlackItalic.woff') format('woff');
}
