:root { --archivo: 'Archivo', sans-serif; }
.archivo { font-family: 'Archivo', sans-serif !important; }

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/archivo/Archivo-Regular.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/archivo/Archivo-Italic.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/archivo/Archivo-Medium.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/archivo/Archivo-MediumItalic.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/archivo/Archivo-SemiBold.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/archivo/Archivo-SemiBoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/archivo/Archivo-Bold.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Archivo';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/archivo/Archivo-BoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/archivo/Archivo-BoldItalic.woff') format('woff');
}
