.arsenal { font-family: 'Arsenal', serif; }

@font-face {
  font-family: 'Arsenal';
  src:  url('/assets/fonts/arsenal/arsenal-regular.woff2') format('woff2'),
	      url('/assets/fonts/arsenal/arsenal-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Arsenal';
  src:  url('/assets/fonts/arsenal/arsenal-italic.woff2') format('woff2'),
	      url('/assets/fonts/arsenal/arsenal-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Arsenal';
  src:  url('/assets/fonts/arsenal/arsenal-bold.woff2') format('woff2'),
	      url('/assets/fonts/arsenal/arsenal-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Arsenal';
  src:  url('/assets/fonts/arsenal/arsenal-bolditalic.woff2') format('woff2'),
	      url('/assets/fonts/arsenal/arsenal-bolditalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
