:root { --biorhyme: 'BioRhyme', serif; }
.biorhyme { font-family: 'BioRhyme', serif !important; }

@font-face {
  font-family: 'Biorhyme';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/biorhyme/BioRhyme-ExtraLight.woff2') format('woff2'),
	     url('/assets/fonts/biorhyme/BioRhyme-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Biorhyme';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/biorhyme/BioRhyme-Light.woff2') format('woff2'),
	     url('/assets/fonts/biorhyme/BioRhyme-Light.woff') format('woff');
}

@font-face {
  font-family: 'Biorhyme';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/biorhyme/BioRhyme-Regular.woff2') format('woff2'),
	     url('/assets/fonts/biorhyme/BioRhyme-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Biorhyme';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/biorhyme/BioRhyme-Bold.woff2') format('woff2'),
	     url('/assets/fonts/biorhyme/BioRhyme-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Biorhyme';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/biorhyme/BioRhyme-ExtraBold.woff2') format('woff2'),
	     url('/assets/fonts/biorhyme/BioRhyme-ExtraBold.woff') format('woff');
}
