:root { --colus: 'Colus', sans-serif; }
.colus { font-family: 'Colus', sans-serif; }

@font-face {
  font-family: 'Colus';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/colus/Colus-Regular.woff2') format('woff2'),
	     url('/assets/fonts/colus/Colus-Regular.woff') format('woff');
}
