:root { --fira-code: 'Fira Code VF', monospace; }
.fira-code { font-family: 'Fira Code VF', monospace  !important; }

@font-face {
  font-family: 'Fira Code VF';
  font-style: normal;
  font-weight: 300 700;
  src: url('/assets/fonts/fira-code/FiraCode-VF.woff2') format('woff2-variations');
}
