:root { --fraunces: 'Fraunces', serif; }
.fraunces { font-family: 'Fraunces', serif !important; }

@font-face {
  font-family: 'Fraunces';
  font-weight: 100 900;
  src: url('/assets/fonts/fraunces/Fraunces.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Fraunces';
  font-weight: 100 900;
  font-style: italic;
  src: url('/assets/fonts/fraunces/Fraunces-Italic.woff2') format('woff2-variations');
}
