.ibm-plex-sans-condensed { font-family: 'IBM Plex Sans Condensed', sans-serif; }

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Thin.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ThinItalic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ExtraLight.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ExtraLightItalic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Light.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-LightItalic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Regular.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Italic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Text.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Text.woff') format('woff');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-TextItalic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-TextItalic.woff') format('woff');
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Medium.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-MediumItalic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBold.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBoldItalic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Bold.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Condensed';
  src:  url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-BoldItalic.woff2') format('woff2'),
	      url('/assets/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
