:root { --inter: 'Inter var', sans-serif; }
.inter { font-family: 'Inter var', sans-serif !important; }

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/assets/fonts/inter/Inter-roman.var.woff2?v=3.15') format('woff2-variations');
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/assets/fonts/inter/Inter-italic.var.woff2?v=3.15') format('woff2-variations');
}
