:root { --jost: 'Jost*', sans-serif; }
.jost { font-family: 'Jost*', sans-serif; }

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/jost/jost-100-hairline.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-100-hairline.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/jost/jost-100-hairlineitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-100-hairlineitalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/jost/jost-200-thin.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-200-thin.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/jost/jost-200-thinitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-200-thinitalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/jost/jost-300-light.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-300-light.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/jost/jost-300-lightitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-300-lightitalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/jost/jost-400-book.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-400-book.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/jost/jost-400-bookitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-400-bookitalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/jost/jost-500-medium.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-500-medium.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/jost/jost-500-mediumitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-500-mediumitalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/jost/jost-600-semi.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-600-semi.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/jost/jost-600-semiitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-600-semiitalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/jost/jost-700-bold.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-700-bold.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/jost/jost-700-bolditalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-700-bolditalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/jost/jost-800-heavy.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-800-heavy.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/jost/jost-800-heavyitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-800-heavyitalic.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/jost/jost-900-black.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-900-black.woff') format('woff');
}

@font-face {
  font-family: 'Jost*';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/jost/jost-900-blackitalic.woff2') format('woff2'),
	     url('/assets/fonts/jost/jost-900-blackitalic.woff') format('woff');
}
