:root { --libre-franklin: 'Libre Franklin', sans-serif; }
.libre-franklin { font-family: 'Libre Franklin', sans-serif !important; }

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-Thin.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-ThinItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-ExtraLight.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-ExtraLightItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-Light.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-Light.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 300;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-LightItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-Regular.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-Italic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-Medium.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 500;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-MediumItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-SemiBold.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-SemiBoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-Bold.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-BoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-ExtraBold.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 800;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-ExtraBoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-Black.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-Black.woff') format('woff');
}

@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 900;
  src: url('/assets/fonts/libre-franklin/LibreFranklin-BlackItalic.woff2') format('woff2'),
	     url('/assets/fonts/libre-franklin/LibreFranklin-BlackItalic.woff') format('woff');
}
