:root { --lora: 'Lora', serif; }
.lora { font-family: 'Lora', serif; }

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lora/Lora-Regular.woff2') format('woff2'),
	     url('/assets/fonts/lora/Lora-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/lora/Lora-Italic.woff2') format('woff2'),
	     url('/assets/fonts/lora/Lora-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/lora/Lora-Bold.woff2') format('woff2'),
	     url('/assets/fonts/lora/Lora-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/lora/Lora-BoldItalic.woff2') format('woff2'),
	     url('/assets/fonts/lora/Lora-BoldItalic.woff') format('woff');
}
