:root { --manrope: 'Manrope VF', 'Helvetica Neue', Arial, sans-serif; }
.manrope { font-family: 'Manrope VF', 'Helvetica Neue', Arial, sans-serif; }

@font-face {
  font-family: 'Manrope VF';
  font-stretch: normal;
  font-style: normal;
  font-weight: 200 800;
  src: url('/assets/fonts/manrope/manrope-variable.ttf') format('truetype-variations');
}
