:root { --playfair-display: 'Playfair Display', serif; }
.playfair-display { font-family: 'Playfair Display', serif; }

@font-face {
  font-family: 'Playfair Display';
  src:  url('/assets/fonts/playfair-display/PlayfairDisplay-Regular.woff2') format('woff2'),
	      url('/assets/fonts/playfair-display/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src:  url('/assets/fonts/playfair-display/PlayfairDisplay-Italic.woff2') format('woff2'),
	      url('/assets/fonts/playfair-display/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src:  url('/assets/fonts/playfair-display/PlayfairDisplay-Bold.woff2') format('woff2'),
	      url('/assets/fonts/playfair-display/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src:  url('/assets/fonts/playfair-display/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
	      url('/assets/fonts/playfair-display/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src:  url('/assets/fonts/playfair-display/PlayfairDisplay-Black.woff2') format('woff2'),
	      url('/assets/fonts/playfair-display/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src:  url('/assets/fonts/playfair-display/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
	      url('/assets/fonts/playfair-display/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
