:root { --rakkas: 'Rakkas', serif; }
.rakkas { font-family: 'Rakkas', serif !important; }

@font-face {
  font-family: 'Rakkas';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/rakkas/Rakkas-Regular.woff2') format('woff2'),
	     url('/assets/fonts/rakkas/Rakkas-Regular.woff') format('woff');
}
