:root { --source-sans-pro: 'Source Sans Variable', serif; }
.source-sans-pro { font-family: 'Source Sans Variable', serif !important; }

@font-face {
  font-family: 'Source Sans Variable';
  font-stretch: normal;
  font-style: normal;
  font-weight: 200 900;
  src: url('/assets/fonts/source-sans-pro/SourceSansVariable-Roman.ttf.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Source Sans Variable';
  font-stretch: normal;
  font-style: italic;
  font-weight: 200 900;
  src: url('/assets/fonts/source-sans-pro/SourceSansVariable-Italic.ttf.woff2') format('woff2-variations');
}
