:root { --source-serif-pro: 'Source Serif Variable', serif; }
.source-serif-pro { font-family: 'Source Serif Variable', serif !important; }

@font-face {
  font-family: 'Source Serif Variable';
  font-stretch: normal;
  font-style: normal;
  font-weight: 200 900;
  src: url('/assets/fonts/source-serif-pro/SourceSerifVariable-Roman.ttf.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Source Serif Variable';
  font-stretch: normal;
  font-style: italic;
  font-weight: 200 900;
  src: url('/assets/fonts/source-serif-pro/SourceSerifVariable-Italic.ttf.woff2') format('woff2-variations');
}
