:root { --space-grotesk: 'Space Grotesk', sans-serif; }
.space-grotesk { font-family: 'Space Grotesk', sans-serif !important; }

@font-face {
  font-family: 'Space Grotesk';
  font-stretch: normal;
  font-style: normal;
  font-weight: 300 700;
  src: url('/assets/fonts/space-grotesk/SpaceGroteskVariable.ttf') format('truetype-variations');
}
