:root { --space-mono: 'Space Mono', monospace; }
.space-mono { font-family: 'Space Mono', monospace !important; }

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/space-mono/spacemono-regular.woff2') format('woff2'),
	     url('/assets/fonts/space-mono/spacemono-regular.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 400;
  src: url('/assets/fonts/space-mono/spacemono-italic.woff2') format('woff2'),
	     url('/assets/fonts/space-mono/spacemono-italic.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/space-mono/spacemono-bold.woff2') format('woff2'),
	     url('/assets/fonts/space-mono/spacemono-bold.woff') format('woff');
}

@font-face {
  font-family: 'Space Mono';
  font-style: italic;
  font-weight: 700;
  src: url('/assets/fonts/space-mono/spacemono-bolditalic.woff2') format('woff2'),
	     url('/assets/fonts/space-mono/spacemono-bolditalic.woff') format('woff');
}
