/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after, .sample.beautiful:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  background: #c8c8c8;
  font-family: "helvetica neue", helvetica, arial, sans-serif; }

.sample {
  padding: 175px 0;
  position: relative; }
  .sample.beautiful {
    background: #d0d0d0;
    padding: 0 0 50px 0; }
    .sample.beautiful .text {
      padding: 25px;
      position: relative;
      width: 700px; }
    .sample.beautiful h1 {
      color: #fff;
      display: inline-block;
      font: 900 84px/76px "lato";
      letter-spacing: -2px;
      margin: 0 0 12px 0;
      padding: 0 0 24px 0; }
    .sample.beautiful blockquote {
      color: #666;
      font: 700 11px/23px "lato";
      position: absolute;
      right: 50px;
      width: 180px; }
    .sample.beautiful p {
      color: #888;
      font: 400 14px/23px "lato";
      margin: 0 250px 20px 0px; }
      .sample.beautiful p em {
        font-weight: 700;
        font-style: italic; }
  .sample.nietzsche {
    background: #ef4723;
    padding: 50px 0 100px 0; }
    .sample.nietzsche .text {
      margin: 0 auto;
      padding: 0 50px;
      width: 800px; }
    .sample.nietzsche .inner-text {
      -webkit-column-count: 2;
      -webkit-column-gap: 50px; }
    .sample.nietzsche h1 {
      color: #222;
      font: 800 64px/64px "open sans";
      margin: 0 0 32px 0;
      text-align: center;
      text-transform: uppercase;
      width: 800px;
      z-index: 0; }
      .sample.nietzsche h1 span {
        font: 400 60px/60px "gentium book basic";
        font-style: italic;
        text-transform: none; }
        .sample.nietzsche h1 span.nudge {
          margin: 0 0 0 -10px; }
    .sample.nietzsche h2 {
      border-top: 1px solid #222;
      color: #222;
      font: 800 20px/20px "open sans";
      margin: 0 0 20px 0;
      text-align: center;
      text-transform: uppercase; }
      .sample.nietzsche h2 span {
        background: #ef4723;
        padding: 0 20px;
        position: relative;
        top: -10px; }
    .sample.nietzsche p {
      color: #222;
      font: 400 16px/24px "gentium book basic";
      margin: 0 0 0 0;
      text-indent: 16px;
      z-index: 1; }
      .sample.nietzsche p:first-child {
        text-indent: 0; }
  .sample.emptiness {
    background: #fcfaf2;
    padding: 450px 0 100px 0; }
    .sample.emptiness .text {
      padding: 0 100px;
      width: 500px; }
    .sample.emptiness h1 {
      color: #333;
      font: 400 20px/30px "pt serif";
      font-style: italic;
      margin: 0 0 12px 0;
      letter-spacing: -1px;
      text-indent: -6px; }
    .sample.emptiness p {
      color: #c90707;
      font: 400 11px/18px "pt serif";
      letter-spacing: 1px;
      text-transform: uppercase;
      text-indent: -10px; }
  .sample.structure {
    background: #000; }
    .sample.structure .text {
      padding: 0 50px; }
    .sample.structure h1 {
      color: #fff;
      font: 400 92px/84px Abril Fatface;
      margin: 0 0 36px 0; }
    .sample.structure p {
      color: #f7f0d7;
      font: 700 13px/18px "open sans";
      text-transform: uppercase; }
  .sample.carson-poem {
    background: #fcfaff; }
    .sample.carson-poem .text {
      margin: 0 0 0 150px;
      width: 500px; }
      .sample.carson-poem .text h1 {
        color: #000;
        font: 400 18px/18px Vollkorn;
        margin: 0 0 18px 0; }
      .sample.carson-poem .text p.poem {
        color: #272727;
        font: 400 18px/28px Vollkorn;
        font-style: italic; }
      .sample.carson-poem .text p.byline {
        color: #555;
        font: 400 14px/14px Vollkorn;
        font-style: normal;
        margin: 6px 0 0 0; }
  .sample.slogan {
    background: #c00;
    padding: 250px 0;
    text-align: center; }
    .sample.slogan .text {
      margin: 0 auto;
      width: 700px; }
    .sample.slogan h1 {
      border-bottom: 6px solid #090909;
      color: #090909;
      display: inline-block;
      font: 400 76px/64px "Gravitas One";
      letter-spacing: -4px;
      margin: 0 0 20px 0;
      padding: 0 4px;
      text-transform: uppercase; }
