/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

body {
  background: #c8c8c8;
  font-family: "helvetica neue", helvetica, arial, sans-serif; }

a {
  color: inherit;
  text-decoration: none; }

.sample {
  padding: 175px 0;
  position: relative; }
  .sample.title {
    background: #fff;
    padding: 125px 0 250px 0; }
    .sample.title .text {
      margin: 0 auto;
      padding: 0;
      width: 800px; }
    .sample.title h1 {
      color: #000;
      font: 400 87px/84px Abril Fatface; }
    .sample.title h2 {
      color: #222;
      font: 300 18px/24px "open sans";
      margin: 0 0 36px 0;
      width: 650px; }
      .sample.title h2 a:hover {
        font-weight: 700; }
    .sample.title p, .sample.title ul {
      color: #666;
      float: left;
      font: 400 13px/21px "open sans";
      margin: 0 50px 0 0;
      width: 450px; }
    .sample.title ul {
      margin: 0;
      position: relative;
      top: -2px;
      width: 300px; }
      .sample.title ul li {
        font-size: 11px;
        text-transform: uppercase; }
        .sample.title ul li:before {
          content: "\00d7";
          font-size: 15px;
          font-weight: 700;
          left: -2px;
          position: relative;
          top: 2px; }
        .sample.title ul li a:hover {
          color: #222;
          font-weight: 700; }
  .sample.nietzsche {
    background: #ef4723;
    padding: 100px 0; }
    .sample.nietzsche .text {
      margin: 0 auto;
      padding: 0 50px;
      width: 800px; }
    .sample.nietzsche .excerpt {
      -moz-column-count: 2;
      -moz-column-gap: 50px;
      -webkit-column-count: 2;
      -webkit-column-gap: 50px; }
    .sample.nietzsche h1 {
      color: #222;
      font: 800 64px/64px "open sans";
      margin: 0 0 32px 0;
      text-align: center;
      text-transform: uppercase;
      width: 800px; }
      .sample.nietzsche h1 span {
        font: 400 60px/60px "gentium book basic";
        font-style: italic;
        text-transform: none; }
        .sample.nietzsche h1 span.nudge {
          margin: 0 0 0 -10px; }
    .sample.nietzsche h2 {
      border-top: 1px solid #222;
      color: #222;
      font: 800 20px/20px "open sans";
      margin: 0 0 20px 0;
      text-align: center;
      text-transform: uppercase; }
      .sample.nietzsche h2 span {
        background: #ef4723;
        padding: 0 20px;
        position: relative;
        top: -10px; }
    .sample.nietzsche p {
      color: #222;
      font: 400 16px/24px "gentium book basic";
      margin: 0; }
  .sample.bringhurst {
    background: #fcfaf2;
    padding: 350px 0 350px 0; }
    .sample.bringhurst .text {
      margin: 0 auto;
      padding: 0 100px;
      width: 410px; }
    .sample.bringhurst h1 {
      color: #333;
      font: 400 20px/30px "vollkorn";
      font-style: italic;
      margin: 0 0 10px 0;
      text-indent: -6px; }
    .sample.bringhurst p {
      color: #c90707;
      font: 400 12px/18px "vollkorn";
      letter-spacing: 1px;
      text-transform: uppercase;
      text-indent: -13px; }
  .sample.slogan {
    background: #c00;
    padding: 250px 0;
    text-align: center; }
    .sample.slogan .text {
      margin: 0 auto;
      width: 700px; }
    .sample.slogan h1 {
      border-bottom: 6px solid #090909;
      color: #090909;
      display: inline-block;
      font: 400 76px/64px "Gravitas One";
      letter-spacing: -4px;
      margin: 0 0 20px 0;
      padding: 0 4px;
      text-transform: uppercase; }
  .sample.experience {
    background: #d0d0d0;
    padding: 150px 0; }
    .sample.experience .text {
      margin: 0 auto;
      width: 680px; }
    .sample.experience h1 {
      color: #fff;
      font: 900 80px/76px "lato";
      letter-spacing: -2px;
      margin: 0 auto 12px;
      padding: 0 0 24px 0;
      text-align: center; }
    .sample.experience ul {
      margin: 25px 35px 0; }
      .sample.experience ul li {
        border-top: 2px solid #aaa;
        color: #666;
        font: 700 14px/14px "lato";
        margin: 0 0 14px 0; }
        .sample.experience ul li span {
          background: #d0d0d0;
          padding: 0 6px 0 0;
          position: relative;
          top: -10px; }
        .sample.experience ul li span + span {
          float: right;
          padding: 0 0 0 6px; }
  .sample.headline {
    background: #000;
    padding: 200px 0; }
    .sample.headline .text {
      margin: 0 auto;
      width: 470px; }
    .sample.headline h1 {
      color: #fff;
      font: 400 92px/84px Abril Fatface; }
