---
layout: detail
permalink: /firago/
title: FiraGO
description: Complete guide to the free font FiraGO. See beautiful examples, recommended pairings, OpenType features, and more.
body-class: sans-serif detail
body-head-content:
  <meta property='og:image' content='https://beautifulwebtype.com/assets/images/firago.png'>
  <meta property='og:title' content='Complete Guide to FiraGO'>
---

{% assign typeface = site.data.typefaces | where: 'name', page.title | first %}
{% assign text = site.data.text %}

<div class='grid {{ typeface.name | downcase | replace: ' ', '-' }}'>
  <header class='type-detail-header gr1 gc6'>
    <h2>{{ typeface.name }}</h2>
    <h3>by {{ typeface.creator }}</h3>
  </header>

  <div class='font-download gr1 gc6'>
    <a href='{{ typeface.project-url }}' target='_blank' rel='noopener'>Download <span>{{ typeface.latest-version }} ({{ typeface.release-date }})</span></a>
  </div>

  {% include sample.html %}

  <div class='type-styles gr1 gc6'>
    <p class='w100'>Thin <em>Italic</em> <span class='weight'>100</span></p>
    <p class='w200'>UltraLight <em>Italic</em> <span class='weight'>200</span></p>
    <p class='w250'>ExtraLight <em>Italic</em> <span class='weight'>250</span></p>
    <p class='w300'>Light <em>Italic</em> <span class='weight'>300</span></p>
    <p class='w350'>Book <em>Italic</em> <span class='weight'>350</span></p>
    <p class='w400'>Regular <em>Italic</em> <span class='weight'>400</span></p>
    <p class='w500'>Medium <em>Italic</em> <span class='weight'>500</span></p>
    <p class='w600'>SemiBold <em>Italic</em> <span class='weight'>600</span></p>
    <p class='w700'>Bold <em>Italic</em> <span class='weight'>700</span></p>
    <p class='w800'>ExtraBold <em>Italic</em> <span class='weight'>800</span></p>
    <p class='w900'>Heavy <em>Italic</em> <span class='weight'>900</span></p>
  </div>

  <div class='type-info gr1 gc3'>
    <h3>Description</h3>
    <h4>{{ typeface.description }}</h4>
  </div>

  <div class='type-info gr1 gc3'>
    <h3>Designed by</h3>
    <h4><a href='{{ typeface.creator-url }}' target='_blank' rel='noopener'>{{ typeface.creator }}</a></h4>

    <h3>Category</h3>
    <h4><a href='/{{ typeface.category | downcase }}/'>{{ typeface.category }}</a></h4>

    <h3>No. of styles</h3>
    <h4>{{ typeface.styles }}</h4>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Characters <span><a href='glyphs/'>Explore all characters</a></span></p>
    </div>
    <div class='examples character-examples flow-row'>
      {% include characters.html %}
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Words</p>
    </div>
    <div class='examples word-examples flow-column flow-center'>
      <div><h1 class='ms6 w100' contenteditable='true'>{{ text.words[0] }}</h1></div>
      <div><h1 class='ms6 w200 upper' contenteditable='true'>{{ text.words[1] }}</h1></div>
      <div><h1 class='ms6 w300 italic' contenteditable='true'>{{ text.words[2] }}</h1></div>
      <div><h1 class='ms6 w400' contenteditable='true'>{{ text.words[3] }}</h1></div>
      <div><h1 class='ms6 w600' contenteditable='true'>{{ text.words[4] }}</h1></div>
      <div><h1 class='w700' contenteditable='true'>{{ text.words[5] }}</h1></div>
      <div><h1 class='ms6 w900' contenteditable='true'>{{ text.words[6] }}</h1></div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Headlines</p>
    </div>
    <div class='examples flow-column'>
      <div>
        <h1 class='w100' contenteditable='true'>{{ text.headlines[0] }}</h1>
        <p class='character-label'>100</p>
      </div>

      <div>
        <h1 class='w200' contenteditable='true'>{{ text.headlines[1] }}</h1>
        <p class='character-label'>200</p>
      </div>

      <div>
        <h1 class='w250' contenteditable='true'>{{ text.headlines[2] }}</h1>
        <p class='character-label'>250</p>
      </div>

      <div>
        <h1 class='w300' contenteditable='true'>{{ text.headlines[3] }}</h1>
        <p class='character-label'>300</p>
      </div>

      <div>
        <h1 class='w350' contenteditable='true'>{{ text.headlines[4] }}</h1>
        <p class='character-label'>350</p>
      </div>

      <div>
        <h1 class='w400' contenteditable='true'>{{ text.headlines[5] }}</h1>
        <p class='character-label'>400</p>
      </div>

      <div>
        <h1 class='w500' contenteditable='true'>{{ text.headlines[6] }}</h1>
        <p class='character-label'>500</p>
      </div>

      <div>
        <h1 class='w600' contenteditable='true'>{{ text.headlines[7] }}</h1>
        <p class='character-label'>600</p>
      </div>

      <div>
        <h1 class='w700' contenteditable='true'>{{ text.headlines[8] }}</h1>
        <p class='character-label'>700</p>
      </div>

      <div>
        <h1 class='w800' contenteditable='true'>{{ text.headlines[9] }}</h1>
        <p class='character-label'>800</p>
      </div>

      <div>
        <h1 class='w900' contenteditable='true'>{{ text.headlines[10] }}</h1>
        <p class='character-label'>900</p>
      </div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Italic headlines</p>
    </div>
    <div class='examples flow-column'>
      <div>
        <h1 class='w100 italic' contenteditable='true'>{{ text.headlines[0] }}</h1>
        <p class='character-label'>100</p>
      </div>

      <div>
        <h1 class='w200 italic' contenteditable='true'>{{ text.headlines[1] }}</h1>
        <p class='character-label'>200</p>
      </div>

      <div>
        <h1 class='w250 italic' contenteditable='true'>{{ text.headlines[2] }}</h1>
        <p class='character-label'>250</p>
      </div>

      <div>
        <h1 class='w300 italic' contenteditable='true'>{{ text.headlines[3] }}</h1>
        <p class='character-label'>300</p>
      </div>

      <div>
        <h1 class='w350 italic' contenteditable='true'>{{ text.headlines[4] }}</h1>
        <p class='character-label'>350</p>
      </div>

      <div>
        <h1 class='w400 italic' contenteditable='true'>{{ text.headlines[5] }}</h1>
        <p class='character-label'>400</p>
      </div>

      <div>
        <h1 class='w500 italic' contenteditable='true'>{{ text.headlines[6] }}</h1>
        <p class='character-label'>500</p>
      </div>

      <div>
        <h1 class='w600 italic' contenteditable='true'>{{ text.headlines[7] }}</h1>
        <p class='character-label'>600</p>
      </div>

      <div>
        <h1 class='w700 italic' contenteditable='true'>{{ text.headlines[8] }}</h1>
        <p class='character-label'>700</p>
      </div>

      <div>
        <h1 class='w800 italic' contenteditable='true'>{{ text.headlines[9] }}</h1>
        <p class='character-label'>800</p>
      </div>

      <div>
        <h1 class='w900 italic' contenteditable='true'>{{ text.headlines[10] }}</h1>
        <p class='character-label'>900</p>
      </div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Paragraphs</p>
      <p class='code'>font-weight: 350</p>
    </div>
    <div class='examples flow-column'>
      <div><p class='ms2 w350' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms1 w350' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms0 w350' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms-1 w350' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms-2 w350 col-2' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Paragraphs</p>
      <p class='code'>font-weight: 400</p>
    </div>
    <div class='examples flow-column'>
      <div><p class='ms2' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms1' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms0' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms-1' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms-2 col-2' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
    </div>
  </div>

  <div class='type-detail-table gr9 gc6'>
    <div class='meta dark top'>
      <p class='name'>Paragraphs</p>
      <p class='code'>font-weight: 500</p>
    </div>
    <div class='examples flow-column'>
      <div><p class='ms2 w500' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms1 w500' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms0 w500' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms-1 w500' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
      <div><p class='ms-2 w500 col-2' contenteditable='true'>{{ text.paragraphs[0] }}</p></div>
    </div>
  </div>

  <div class='type-detail-table gr12 gc6'>
    <div class='meta dark top'>
      <p class='name'>Smallcap headlines</p>
    </div>
    <div class='examples flow-column'>
      <div>
        <h1 class='w100 small-caps' contenteditable='true'>{{ text.headlines[0] }}</h1>
        <p class='character-label'>100</p>
      </div>

      <div>
        <h1 class='w200 small-caps' contenteditable='true'>{{ text.headlines[1] }}</h1>
        <p class='character-label'>200</p>
      </div>

      <div>
        <h1 class='w250 small-caps' contenteditable='true'>{{ text.headlines[2] }}</h1>
        <p class='character-label'>250</p>
      </div>

      <div>
        <h1 class='w300 small-caps' contenteditable='true'>{{ text.headlines[3] }}</h1>
        <p class='character-label'>300</p>
      </div>

      <div>
        <h1 class='w350 small-caps' contenteditable='true'>{{ text.headlines[4] }}</h1>
        <p class='character-label'>350</p>
      </div>

      <div>
        <h1 class='w400 small-caps' contenteditable='true'>{{ text.headlines[5] }}</h1>
        <p class='character-label'>400</p>
      </div>

      <div>
        <h1 class='w500 small-caps' contenteditable='true'>{{ text.headlines[6] }}</h1>
        <p class='character-label'>500</p>
      </div>

      <div>
        <h1 class='w600 small-caps' contenteditable='true'>{{ text.headlines[7] }}</h1>
        <p class='character-label'>600</p>
      </div>

      <div>
        <h1 class='w700 small-caps' contenteditable='true'>{{ text.headlines[8] }}</h1>
        <p class='character-label'>700</p>
      </div>

      <div>
        <h1 class='w800 small-caps' contenteditable='true'>{{ text.headlines[9] }}</h1>
        <p class='character-label'>800</p>
      </div>

      <div>
        <h1 class='w900 small-caps' contenteditable='true'>{{ text.headlines[10] }}</h1>
        <p class='character-label'>900</p>
      </div>
    </div>
  </div>

  <div class='type-detail-table gr3 gc6'>
    <div class='meta dark top'>
      <p class='name'>Standard Ligatures</p>
      <p class='code'>font-feature-settings: 'liga', 'clig';</p>
    </div>
    <div class='examples flow-row'>
      <div><span class='fade'>ff</span> <span class='liga'>ff</span></div>
      <div><span class='fade italic'>ff</span> <span class='liga italic'>ff</span></div>
      <div><span class='fade'>ffi</span> <span class='liga'>ffi</span></div>
      <div><span class='fade italic'>ffi</span> <span class='liga italic'>ffi</span></div>
      <div><span class='fade'>ffj</span> <span class='liga'>ffj</span></div>
      <div><span class='fade italic'>ffj</span> <span class='liga italic'>ffj</span></div>
      <div><span class='fade'>ffl</span> <span class='liga'>ffl</span></div>
      <div><span class='fade italic'>ffl</span> <span class='liga italic'>ffl</span></div>
      <div><span class='fade'>fi</span> <span class='liga'>fi</span></div>
      <div><span class='fade italic'>fi</span> <span class='liga italic'>fi</span></div>
      <div><span class='fade'>fj</span> <span class='liga'>fj</span></div>
      <div><span class='fade italic'>fj</span> <span class='liga italic'>fj</span></div>
      <div><span class='fade'>fl</span> <span class='liga'>fl</span></div>
      <div><span class='fade italic'>fl</span> <span class='liga italic'>fl</span></div>
    </div>
  </div>

  <div class='type-detail-table gr8 gc6'>
    <div class='meta dark top'>
      <p class='name'>Figures</p>
    </div>
    <div class='examples flow-column flow-center'>
      <div>
        <h1 class='oldstyle-proportional ms6 w400'>1234567890</h1>
        <p class='character-label'>Proportional Oldstyle: 'pnum', 'onum'</p>
      </div>

      <div>
        <h1 class='oldstyle-tabular ms6 w400'>1234567890</h1>
        <p class='character-label'>Tabular Oldstyle: 'tnum', 'onum'</p>
      </div>

      <div>
        <h1 class='lining-proportional ms6 w400'>1234567890</h1>
        <p class='character-label'>Proportional Lining (default): 'pnum', 'lnum'</p>
      </div>

      <div>
        <h1 class='lining-tabular ms6 w400'>1234567890</h1>
        <p class='character-label'>Tabular Lining: 'tnum', 'lnum';</p>
      </div>

      <div>
        <h1 class='ms6 w400'><span class='fade'>0</span> <span class='zero'>0</span></h1>
        <p class='character-label'>Slashed Zero: 'zero'</p>
      </div>

      <div>
        <h1 class='fractions ms6 w400'>1/2 3/4 5/6 7/8 90/123</h1>
        <p class='character-label'>Fractions: 'frac';</p>
      </div>

      <div>
        <h1 class='ms6 w400'><span class='fade'>A</span><span class='subscript'>1234567890</span></h1>
        <p class='character-label'>Subscripts: 'subs'</p>
      </div>

      <div>
        <h1 class='ms6 w400'><span class='fade'>A</span><span class='superscript'>1234567890</span></h1>
        <p class='character-label'>Superscripts: 'sups'</p>
      </div>
    </div>
  </div>

  <div class='type-detail-table gr2 gc6'>
    <div class='meta dark top'>
      <p class='name'>Ordinals</p>
      <p class='code'>font-feature-settings: 'ordn';</p>
    </div>
    <div class='examples flow-row'>
      <div><span class='fade'>3a</span> <span class='ordinals'>3a</span></div>
      <div><span class='fade'>4o</span> <span class='ordinals'>4o</span></div>
      <div><span class='fade'>No.</span> <span class='ordinals'>No.</span></div>
    </div>
  </div>

  <div class='type-detail-table gr2 gc6'>
    <div class='meta dark top'>
      <p class='name'>Alternate Glyph Forms</p>
      <p class='code'>font-feature-settings: 'ss--';</p>
    </div>
    <div class='examples flow-row'>
      <div><span class='fade'>&</span> <span class='ss03'>&</span> <p class='code'>'ss03'</p></div>
    </div>
  </div>

  <div class='type-detail-table gr4 gc6'>
    <div class='meta dark top'>
      <p class='name'>Special Characters <span><a href='glyphs/'>Explore all characters</a></span></p>
    </div>
    <div class='examples flow-row'>
      <div><span>&uarr;</span> <p class='code'>&amp;uarr;</p></div>
      <div><span>&nearr;</span> <p class='code'>&amp;nearr;</p></div>
      <div><span>&rarr;</span> <p class='code'>&amp;rarr;</p></div>
      <div><span>&searr;</span> <p class='code'>&amp;searr;</p></div>
      <div><span>&darr;</span> <p class='code'>&amp;darr;</p></div>
      <div><span>&swarr;</span> <p class='code'>&amp;swarr;</p></div>
      <div><span>&larr;</span> <p class='code'>&amp;larr;</p></div>
      <div><span>&nwarr;</span> <p class='code'>&amp;nwarr;</p></div>
      <div><span>&harr;</span> <p class='code'>&amp;harr;</p></div>
      <div><span>&updownarrow;</span> <p class='code'>&amp;updownarrow;</p></div>
      <div><span>&para;</span> <p class='code'>&amp;para;</p></div>
      <div><span>&sect;</span> <p class='code'>&amp;sect;</p></div>
      <div><span>&dagger;</span> <p class='code'>&amp;dagger;</p></div>
      <div><span>&Dagger;</span> <p class='code'>&amp;Dagger;</p></div>
    </div>
  </div>
</div>
