---
layout: detail
body: serif detail
permalink: libre-franklin/
title: Libre Franklin
description:
---

{% assign typeface = site.data.typefaces | where: 'name', page.title | first %}
{% assign text = site.data.text %}

<div class='grid {{ typeface.name | downcase | replace: ' ', '-' }}'>
  <header class='type-detail-header gr1 gc6'>
    <h2>{{ typeface.name }}<br> by {{ typeface.creator }}</h2>
  </header>

  <div class='font-download gr1 gc6'>
    <a href='{{ typeface.g-fonts-url }}' target='_blank'>Embed <span>using Google Fonts</span></a>

    <a href='{{ typeface.project-url }}' target='_blank'>Download <span class='font-version'>{{ typeface.latest-version }} ({{ typeface.release-date }})</span></a>
  </div>

  {% include sample.html %}

  <div class='type-styles gr1 gc6'>
    <p class='w100'>Thin <em>Italic</em> <span class='weight'>100</span></p>
    <p class='w200'>Extra-Light <em>Italic</em> <span class='weight'>200</span></p>
    <p class='w300'>Light <em>Italic</em> <span class='weight'>300</span></p>
    <p class='w400'>Regular <em>Italic</em> <span class='weight'>400</span></p>
    <p class='w500'>Medium <em>Italic</em> <span class='weight'>500</span></p>
    <p class='w600'>Semi-Bold <em>Italic</em> <span class='weight'>600</span></p>
    <p class='w700'>Bold <em>Italic</em> <span class='weight'>700</span></p>
    <p class='w800'>ExtraBold <em>Italic</em> <span class='weight'>800</span></p>
    <p class='w900'>Black <em>Italic</em> <span class='weight'>900</span></p>
  </div>

  <div class='type-info gr1 gc6'>
    <h3>Designed by</h3>
    <h4><a href='{{ typeface.creator-url }}' target='_blank'>{{ typeface.creator }}</a></h4>

    <h3>Category</h3>
    <h4>{{ typeface.category }}</h4>

    <h3>No. of styles</h3>
    <h4>{{ typeface.styles }}</h4>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Characters</p>
    </div>
    <div class='examples character-examples flow-row'>
      {% include characters.html %}
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Words</p>
    </div>
    <div class='examples word-examples flow-column flow-center'>
      <div><h1 class='ms6 w100' contenteditable='true'>{{ text.word-01 }}</h1></div>
      <div><h1 class='ms6 w200 upper' contenteditable='true'>{{ text.word-02 }}</h1></div>
      <div><h1 class='ms6 w300 italic' contenteditable='true'>{{ text.word-03 }}</h1></div>
      <div><h1 class='ms6 w400' contenteditable='true'>{{ text.word-04 }}</h1></div>
      <div><h1 class='ms6 w600' contenteditable='true'>{{ text.word-05 }}</h1></div>
      <div><h1 class='w700' contenteditable='true'>{{ text.word-06 }}</h1></div>
      <div><h1 class='ms6 w900' contenteditable='true'>{{ text.word-07 }}</h1></div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Headlines</p>
    </div>
    <div class='examples flow-column'>
      <div>
        <h1 class='w100' contenteditable='true'>{{ text.headline-01 }}</h1>
        <p class='character-label'>100</p>
      </div>

      <div>
        <h1 class='w200' contenteditable='true'>{{ text.headline-02 }}</h1>
        <p class='character-label'>200</p>
      </div>

      <div>
        <h1 class='w300' contenteditable='true'>{{ text.headline-03 }}</h1>
        <p class='character-label'>300</p>
      </div>

      <div>
        <h1 class='w400' contenteditable='true'>{{ text.headline-04 }}</h1>
        <p class='character-label'>400</p>
      </div>

      <div>
        <h1 class='w500' contenteditable='true'>{{ text.headline-05 }}</h1>
        <p class='character-label'>500</p>
      </div>

      <div>
        <h1 class='w600' contenteditable='true'>{{ text.headline-06 }}</h1>
        <p class='character-label'>600</p>
      </div>

      <div>
        <h1 class='w700' contenteditable='true'>{{ text.headline-07 }}</h1>
        <p class='character-label'>700</p>
      </div>

      <div>
        <h1 class='w800' contenteditable='true'>{{ text.headline-08 }}</h1>
        <p class='character-label'>800</p>
      </div>

      <div>
        <h1 class='w900' contenteditable='true'>{{ text.headline-09 }}</h1>
        <p class='character-label'>900</p>
      </div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Italic headlines</p>
    </div>
    <div class='examples flow-column'>
      <div>
        <h1 class='w100 italic' contenteditable='true'>{{ text.headline-01 }}</h1>
        <p class='character-label'>100</p>
      </div>

      <div>
        <h1 class='w200 italic' contenteditable='true'>{{ text.headline-02 }}</h1>
        <p class='character-label'>200</p>
      </div>

      <div>
        <h1 class='w300 italic' contenteditable='true'>{{ text.headline-03 }}</h1>
        <p class='character-label'>300</p>
      </div>

      <div>
        <h1 class='w400 italic' contenteditable='true'>{{ text.headline-04 }}</h1>
        <p class='character-label'>400</p>
      </div>

      <div>
        <h1 class='w500 italic' contenteditable='true'>{{ text.headline-05 }}</h1>
        <p class='character-label'>500</p>
      </div>

      <div>
        <h1 class='w600 italic' contenteditable='true'>{{ text.headline-06 }}</h1>
        <p class='character-label'>600</p>
      </div>

      <div>
        <h1 class='w700 italic' contenteditable='true'>{{ text.headline-07 }}</h1>
        <p class='character-label'>700</p>
      </div>

      <div>
        <h1 class='w800 italic' contenteditable='true'>{{ text.headline-08 }}</h1>
        <p class='character-label'>800</p>
      </div>

      <div>
        <h1 class='w900 italic' contenteditable='true'>{{ text.headline-09 }}</h1>
        <p class='character-label'>900</p>
      </div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Paragraphs</p>
      <p class='code'>font-weight: 300</p>
    </div>
    <div class='examples flow-column'>
      <div><p class='ms2 w300' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms1 w300' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms0 w300' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms-1 w300' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms-2 w300 col-2' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
    </div>
  </div>

  <div class='type-detail-table gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Paragraphs</p>
      <p class='code'>font-weight: 400</p>
    </div>
    <div class='examples flow-column'>
      <div><p class='ms2' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms1' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms0' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms-1' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms-2 col-2' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
    </div>
  </div>

  <div class='type-detail-table gr9 gc6'>
    <div class='meta dark top'>
      <p class='name'>Paragraphs</p>
      <p class='code'>font-weight: 500</p>
    </div>
    <div class='examples flow-column'>
      <div><p class='ms2 w500' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms1 w500' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms0 w500' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms-1 w500' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
      <div><p class='ms-2 w500 col-2' contenteditable='true'>{{ text.paragraph-01 }}</p></div>
    </div>
  </div>

  <div class='type-detail-table gr2 gc6'>
    <div class='meta dark top'>
      <p class='name'>Figures</p>
    </div>
    <div class='examples flow-column flow-center'>
      <div>
        <h1><span class='fade'>A</span><span class='superscript'>123</span></h1>
        <p class='character-label'>Superscripts: 'sups'</p>
      </div>
    </div>
  </div>

  <div class='type-detail-table gr2 gc6'>
    <div class='meta dark top'>
      <p class='name'>Ordinals</p>
      <p class='code'>font-feature-settings: 'ordn';</p>
    </div>
    <div class='examples flow-row'>
      <div><span class='fade'>3a</span> <span class='ordinals'>3a</span></div>
      <div><span class='fade'>4o</span> <span class='ordinals'>4o</span></div>
    </div>
  </div>

  <div class='type-detail-table gr2 gc6'>
    <div class='meta dark top'>
      <p class='name'>Special Characters and Symbols</p>
    </div>
    <div class='examples flow-row'>
      <div><span>&para;</span> <p class='code'>&amp;para;</p></div>
      <div><span>&sect;</span> <p class='code'>&amp;sect;</p></div>
      <div><span>&dagger;</span> <p class='code'>&amp;dagger;</p></div>
      <div><span>&Dagger;</span> <p class='code'>&amp;Dagger;</p></div>
    </div>
  </div>
</div>
