/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Clear Floated Elements
------------------------------------------------------------------------------*/
.clearfix:after, .sample .text:after, #postnormal .source:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0; }

.newsletter input[type='submit'] {
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* Remove excess padding and border in Firefox 4+ */ }
  .newsletter input[type='submit']::-moz-focus-inner {
    border: 0;
    padding: 0; }

.newsletter {
  background-color: #FFF700;
  padding: 10em 0; }
  .newsletter form {
    margin: 1em auto 0.5em auto;
    max-width: 600px; }
  .newsletter h2 {
    font: 900 20px/1.6 'merriweather';
    margin: 0 0 1em 0; }
  .newsletter p {
    font: 400 20px/1.6 'merriweather';
    margin: 0 0 1em 0; }
  .newsletter input[type='text'] {
    border: 1px solid #ddd;
    box-sizing: border-box;
    font: 400 20px 'merriweather';
    margin: 0 0 0.5em 0;
    outline: none;
    padding: 1em 0.5em;
    width: 100%; }
  .newsletter input[type='submit'] {
    background: #373737;
    box-sizing: border-box;
    color: #fff;
    display: inline;
    font: 400 20px/1 'merriweather';
    padding: 0.75em 1.75em;
    width: auto; }

.tinyletter {
  font: 400 12px/1 'merriweather';
  margin-left: 1em; }
  .tinyletter a {
    color: inherit;
    text-decoration: none; }

body {
  background: #eaeaea;
  box-sizing: border-box;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  -webkit-text-size-adjust: 100%; }

a {
  color: inherit;
  text-decoration: none; }

footer {
  padding: 50px;
  text-align: center; }
  footer p {
    color: #555;
    font: 400 16px/1 'open sans';
    margin: 0; }
    footer p a {
      color: #555;
      font-weight: 700; }
      footer p a:hover {
        color: #000; }

.sample {
  min-height: 106vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .sample .text {
    margin: 0 auto;
    padding: 100px 20px;
    position: relative;
    text-align: left;
    width: 820px; }

#title {
  background: #fff;
  min-height: auto;
  padding: 100px 0; }
  #title h1 {
    color: #000;
    font: 400 86px/84px Abril Fatface;
    letter-spacing: 1px; }
    #title h1 span.kern {
      margin: 0 0 0 -10px; }
  #title h2 {
    color: #666;
    font: 300 18px/24px 'open sans';
    margin: 0 0 36px 0;
    width: 650px; }
    #title h2 a:hover {
      color: #222; }
  #title p, #title ul {
    color: #666;
    float: left;
    font: 400 13px/21px 'open sans';
    margin: 0 50px 0 0;
    width: 450px; }
  #title ul {
    margin: 0;
    position: relative;
    top: -2px;
    width: 300px; }
    #title ul li {
      font-size: 11px;
      position: relative;
      text-transform: uppercase; }
      #title ul li:before {
        content: "\00d7";
        font-size: 15px;
        font-weight: 700;
        left: -2px;
        position: relative;
        top: 2px; }
      #title ul li a:hover {
        color: #222;
        font-weight: 700; }

#herzog {
  background: #2A2C39; }
  #herzog h2 {
    color: #E9E9EB;
    font: 400 36px/1.4 'cardo';
    font-style: italic;
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -10px; }
  #herzog h3 {
    color: #fff;
    font: 400 36px/1.4 'cardo';
    margin: 0 0 20px 0;
    text-align: left;
    text-indent: -32px; }
    #herzog h3 em {
      font-style: italic; }

#nietzsche {
  background: #ef4723; }
  #nietzsche .excerpt {
    -moz-column-count: 2;
    -moz-column-gap: 50px;
    -webkit-column-count: 2;
    -webkit-column-gap: 50px; }
  #nietzsche h1 {
    color: #222;
    font: 800 64px/64px 'open sans';
    margin: 0 0 32px 0;
    text-align: center;
    text-transform: uppercase;
    width: 800px; }
    #nietzsche h1 span {
      font: 400 60px/60px 'gentium book basic';
      font-style: italic;
      text-transform: none; }
      #nietzsche h1 span.kern {
        margin: 0 4px 0 -10px; }
  #nietzsche h2 {
    border-top: 1px solid #222;
    color: #222;
    font: 800 20px/20px 'open sans';
    margin: 0 0 20px 0;
    text-align: center;
    text-transform: uppercase; }
    #nietzsche h2 span {
      background: #ef4723;
      padding: 0 20px;
      position: relative;
      top: -10px; }
  #nietzsche p {
    color: #222;
    font: 400 16px/24px 'gentium book basic';
    margin: 0; }

#bringhurst {
  background: #fcfaf2; }
  #bringhurst .text {
    width: 410px; }
  #bringhurst h1 {
    color: #333;
    font: 400 20px/30px 'vollkorn';
    font-style: italic;
    margin: 0 0 10px 0;
    text-indent: -6px; }
  #bringhurst p {
    color: #c90707;
    font: 400 12px/18px 'vollkorn';
    letter-spacing: 1px;
    text-transform: uppercase;
    text-indent: -13px; }

#thin {
  background: #0ac5f4; }
  #thin li {
    color: #fff;
    font: 100 92px/1 'lato';
    text-transform: uppercase; }
    #thin li .kern {
      margin: 0 0 0 6px; }
    #thin li:nth-child(1) {
      opacity: 0.3; }
    #thin li:nth-child(2) {
      opacity: 0.4; }
    #thin li:nth-child(3) {
      opacity: 0.5; }
    #thin li:nth-child(4) {
      opacity: 0.6; }
    #thin li:nth-child(5) {
      opacity: 0.7; }
    #thin li:nth-child(6) {
      opacity: 0.8; }

#nabokov {
  background: rgba(133, 135, 141, 0.7); }
  #nabokov .text {
    width: 700px; }
  #nabokov h1 {
    color: #242526;
    font: italic 700 84px/1.2 'playfair display'; }
    #nabokov h1.first {
      float: left;
      padding: 200px 0 0 0;
      margin: 0 0 -10px 0;
      width: 142px; }
    #nabokov h1.second {
      border-left: 8px solid #242526;
      float: left;
      margin: 0 0 -10px 0;
      padding: 200px 0 0 25px;
      width: auto; }
    #nabokov h1.third {
      clear: both;
      font-style: normal;
      font-weight: 900;
      margin: 0 0 0 172px; }
  #nabokov p {
    color: #2e2f31;
    font: 400 14px/1 'playfair display';
    letter-spacing: 1px;
    margin: 18px 0 0 175px;
    text-transform: uppercase; }

#seneca {
  background: #caccc9; }
  #seneca .body {
    -moz-column-count: 3;
    -moz-column-gap: 30px;
    -webkit-column-count: 3;
    -webkit-column-gap: 30px; }
  #seneca h1 {
    color: #222;
    font: 900 42px/44px 'merriweather';
    letter-spacing: -1px;
    margin: 44px 0 0 0; }
  #seneca hr {
    background: #333;
    border: 0;
    height: 3px;
    margin: 19px 0 22px 0;
    width: 100px; }
  #seneca h2 {
    color: #333;
    font: 900 14px/22px 'merriweather'; }
  #seneca p.title {
    color: #c3322f;
    font: 900 14px/22px 'lato'; }
  #seneca p {
    color: #333;
    font: 400 14px/22px 'merriweather'; }

#tufte {
  background: #f8f5ef; }
  #tufte .text {
    width: 860px; }
  #tufte h1 {
    border-top: 5px solid #172bae;
    color: #172bae;
    font: 300 92px/1 'vollkorn';
    letter-spacing: -1px;
    margin: 0 0 0 -8px; }
    #tufte h1 span {
      background: #f8f5ef;
      padding: 0 19px 0 0;
      position: relative;
      top: -52px; }
      #tufte h1 span.kern {
        background: transparent;
        margin: 0 0 0 -5px;
        padding: 0;
        top: 0; }
        #tufte h1 span.kern.push {
          margin: 0 0 0 7px; }
  #tufte p {
    color: #172bae;
    font: 400 20px/30px 'vollkorn';
    font-style: italic;
    margin: -40px 0 0 280px;
    text-indent: -16px; }
    #tufte p span {
      font-size: 28px;
      font-family: 'gentium book basic';
      font-weight: 400;
      margin: 0 2px 0 0;
      position: relative;
      top: 5px; }

#postnormal {
  background: #fff; }
  #postnormal .text {
    width: 860px; }
  #postnormal .source {
    font: normal 10px/16px 'pt mono';
    opacity: 0.3;
    padding: 28px 0 0 0;
    text-transform: uppercase; }
  #postnormal h2 {
    color: #FFF700;
    font: bold 164px/1 'oswald';
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 1; }
    #postnormal h2:nth-child(1) {
      left: 0px; }
    #postnormal h2:nth-child(2) {
      top: 160px;
      text-align: center; }
    #postnormal h2:nth-child(3) {
      text-align: right;
      top: 318px; }
  #postnormal ol {
    float: left;
    position: relative;
    width: auto;
    z-index: 2; }
    #postnormal ol li {
      color: #222;
      font: normal 13px/54px 'pt mono';
      letter-spacing: 5px; }
    #postnormal ol.normal {
      opacity: 0.3; }
    #postnormal ol.forward {
      margin: 0 60px; }

#slogan {
  background: #c00; }
  #slogan .text {
    text-align: center;
    width: 700px; }
  #slogan h1 {
    border-bottom: 6px solid #090909;
    color: #090909;
    display: inline-block;
    font: 400 76px/64px 'Gravitas One';
    letter-spacing: -4px;
    margin: 0 0 20px 0;
    padding: 0 4px;
    text-transform: uppercase; }

#darwin {
  background: #ede0ce; }
  #darwin .text {
    text-align: center;
    width: 750px; }
  #darwin h1 {
    color: #161616;
    font: 400 58px/58px 'old standard tt';
    margin: 0 0 32px 0;
    text-transform: uppercase; }
    #darwin h1.small {
      font-size: 18px; }
  #darwin h2 {
    color: #161616;
    font: 400 28px/28px 'old standard tt';
    margin: 160px 0 14px 0;
    text-transform: uppercase; }
  #darwin h3 {
    color: #161616;
    font: 400 14px/21px 'old standard tt';
    margin: 0 0 80px 0;
    text-transform: uppercase; }
  #darwin h4 {
    color: #161616;
    font: 400 14px/21px 'old standard tt';
    font-style: italic;
    margin: 0; }

#headline {
  background: #000; }
  #headline .text {
    width: 470px; }
  #headline h1 {
    color: #fff;
    font: 400 92px/84px Abril Fatface; }

#camus {
  background: #fff; }
  #camus .text {
    width: 205px; }
  #camus h1 {
    color: #222;
    font: 700 24px/24px 'pt sans narrow';
    margin: 0;
    text-align: center;
    text-transform: uppercase; }
  #camus hr {
    background: #333;
    border: 0;
    height: 2px;
    margin: 12px auto 8px;
    width: 60px; }
    #camus hr.bottom {
      margin: 10px auto; }
  #camus h2 {
    color: #222;
    font: 700 16px/20px 'pt sans';
    margin: 0;
    text-align: center; }
  #camus p {
    color: #222;
    font: 400 14px/18px 'pt serif';
    text-align: justify;
    text-indent: 14px; }

#plato {
  background: #8253D7; }
  #plato .text {
    width: 730px; }
  #plato h1 {
    color: #461B93;
    font: 400 60px/72px 'Vidaloka';
    letter-spacing: 1px;
    text-align: center; }
    #plato h1 span {
      font-size: 100px;
      position: relative;
      top: 16px;
      margin: 0 15px; }
    #plato h1 mark {
      color: inherit;
      background-color: transparent;
      position: relative;
      z-index: 0; }
      #plato h1 mark:after {
        content: "";
        position: absolute;
        height: 25%;
        width: 104%;
        background-color: #6A3CBC;
        bottom: 10px;
        left: -2%;
        z-index: -1; }
  #plato p {
    font: 400 15px/30px 'Fira Mono';
    color: #e3d3ff;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 0 80px; }
    #plato p.separator {
      margin-top: 120px; }
      #plato p.separator:after {
        content: "";
        width: 1px;
        height: 55px;
        background-color: #ac7eff;
        display: block;
        position: absolute;
        top: -80px;
        left: 50%; }
    #plato p strong {
      font-weight: 500;
      color: #ffbf79; }

/*# sourceMappingURL=application.css.map */
