<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='canonical' href='https://beautifulwebtype.com{{ page.permalink }}'>
    <meta property='og:url' content='https://beautifulwebtype.com{{ page.permalink }}'>
    <link rel='stylesheet' href='/css/application.css' type='text/css' media='screen'>
    <link rel='icon' href='/favicon-96x96.png' type='image/png' sizes='96x96'>
    <link rel='icon' href='/favicon-32x32.png' type='image/png' sizes='32x32'>
    <link rel='icon' href='/favicon-16x16.png' type='image/png' sizes='16x16'>
    <link rel='stylesheet' href='https://indestructibletype-fonthosting.github.io/jost.css' type='text/css' charset='utf-8'>
    <link rel='preload' href='/assets/fonts/alegreya-sans/AlegreyaSans-BlackItalic.woff2' as='font' type='font/woff2' crossorigin='anonymous'>
    <link rel='preload' href='/assets/fonts/alegreya-sans/AlegreyaSans-Bold.woff2' as='font' type='font/woff2' crossorigin='anonymous'>
    <meta name='description' content='{% if page.description %}{{ page.description }}{% else %}In-depth guide to the best free fonts from Google and across the web. Get inspired with beautiful examples.{% endif %}'>
    <meta property='og:description' content='{% if page.description %}{{ page.description }}{% else %}In-depth guide to the best free fonts from Google and across the web. Get inspired with beautiful examples.{% endif %}'>
    <meta name='twitter:card' content='summary_large_image'>
    <meta name='twitter:creator' content='@ubuwaits'>
    <title>{{ page.title }} &bull; Beautiful Web Type</title>
    {{ page.body-head-content }}
    {% include breadcrumbs.html %}
  </head>

  <body class='{{ page.body-class }}' spellcheck='false'>
    {% include header.html %}

    <section class='container'>
      {{ content }}
    </section>

    {% include footer.html %}

    <script>
      document.getElementsByClassName('menu-link')[0].addEventListener('click', function(e) {
        e.preventDefault();
        document.getElementsByClassName('mobile-menu')[0].classList.toggle('open');
        document.getElementsByClassName('menu-overlay')[0].classList.toggle('open');
      }, false);
    </script>
  </body>
</html>
