<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="A showcase of the best typefaces from the Google web fonts directory.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@ubuwaits">
    <meta property="og:url" content="https://beautifulwebtype.com">
    <link rel="canonical" href="https://beautifulwebtype.com">
    <meta property="og:title" content="Beautiful Web Type &mdash; the best typefaces from Google Fonts">
    <meta property="og:image" content="https://beautifulwebtype.com/images/beautiful-web-type.png">
    <title>{{ page.title }}</title>
    <link href="/css/application.css" rel='stylesheet' type="text/css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Abril+Fatface|Gentium+Basic:400,400i,700|Vollkorn:400italic,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Gravitas+One|Old+Standard+TT:400,400italic|PT+Serif:400|PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:700|Merriweather:400,900|Playfair+Display:400,900,700italic|Oswald:400,700|PT+Mono' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cardo:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700|Vidaloka' rel='stylesheet'  type='text/css'>
  </head>

  <body class="{{ page.keyword }}">

    <section id="container">
      {{ content }}

      <footer>
        <p>You can <a href="https://github.com/ubuwaits/beautiful-web-type">watch this repo on Github</a> or <a href="https://twitter.com/ubuwaits">follow me on Twitter</a>.</p>
      </footer>
    </section>

  </body>
</html>
