---
layout: default
---

{% assign typeface = site.data.typefaces | where: 'name', page.title | first %}
{% assign text = site.data.text %}

{{ content }}

{% unless typeface.comparison-faces.size == nil %}
  <div class='grid typeface-comparisons' id='comparisons'>
    <h3 class='gr1 gc12 ase'>{{ typeface.name }} compared with similar typefaces</h3>
    {% for comparison-face in typeface.comparison-faces %}
      {% include typeface-comparison.html %}
    {% endfor %}
  </div>
{% endunless %}

{% assign pairings = site.data.pairings | where: 'typefaces', page.title %}
{% unless pairings.size == 0 %}
  <div class='grid grid-pairings' id='pairings'>
    <h3 class='gr1 gc12 ase'>Recommended Pairings for {{ page.title }}</h3>

    {% for pairing in pairings %}
      {% include pairing-sample.html %}
    {% endfor %}
  </div>
{% endunless %}
