---
layout: default
---

{% assign typeface = site.data.typefaces | where: 'name', page.title | first %}

<div class='grid {{ typeface.name | downcase | replace: ' ', '-' }}'>
  <header class='type-detail-header gr1 gc6'>
    <h2>{{ typeface.name }}</h2>
    <h3>by {{ typeface.creator }}</h3>
  </header>

  <div class='font-download gr1 gc6'>
    {% unless typeface.g-fonts-url == nil %}
      <a href='{{ typeface.g-fonts-url }}' target='_blank' rel='noopener'>Embed <span>using Google Fonts</span></a>
    {% endunless %}
    <a href='{{ typeface.project-url }}' target='_blank' rel='noopener'>Download <span>{{ typeface.latest-version }} ({{ typeface.release-date }})</span></a>
  </div>

  {% include sample.html %}

  {{ content }}

</div>

{% unless typeface.comparison-faces.size == nil %}
  <div class='grid grid-comparisons' id='comparisons'>
    <h3 class='gr1 gc12 ase'>{{ typeface.name }} compared with similar typefaces</h3>
    {% include typeface-comparison.html %}
  </div>
{% endunless %}

{% assign pairings = site.data.pairings | where: 'typefaces', page.title %}
{% unless pairings.size == 0 %}
  <div class='grid grid-pairings' id='pairings'>
    <h3 class='gr1 gc12 ase'>Recommended Pairings for {{ page.title }}</h3>

    {% for pairing in pairings %}
      {% include pairing-sample.html %}
    {% endfor %}
  </div>
{% endunless %}
