---
layout: default
---

{% assign typeface = site.typefaces | where: 'name', page.name | first %}
{% assign text = site.data.text %}

<div class='grid {{ typeface.name | slugify }}'>
  <header class='type-detail-header gr1 gc6'>
    <div>
      <h2>{{ typeface.name }}</h2>
      <h3>by {{ typeface.creator.name }}</h3>
    </div>
  </header>

  <div class='font-download gr1 gc6'>
    {% unless typeface.g_fonts_url == nil %}
      <a href='{{ typeface.g_fonts_url }}' target='_blank' rel='noopener'>Embed <span>using Google Fonts</span></a>
    {% endunless %}
    <a href='{{ typeface.project_url }}' target='_blank' rel='noopener'>Download <span>{{ typeface.latest_release.version }} ({{ typeface.latest_release.date }})</span></a>
  </div>

  {% include sample.html %}

  <div class='type-styles gr1 gc6'>
  {% for weight in typeface.weights %}
    <div>
      <p class='w{{ weight.weight }}'>{{ weight.name }}</p>
      {% unless typeface.italic == nil %}<p class='w{{ weight.weight }}'><em>Italic</em></p>{% endunless %}
      <p class='weight'>{{ weight.weight }}</p>
    </div>
  {% endfor %}
  </div>

  <div class='type-info gr1 gc3'>
    <h3>Description</h3>
    <h4>{{ typeface.description }}</h4>
  </div>

  <div class='type-info gr1 gc3'>
    <h3>Designed by</h3>
    <h4><a href='{{ typeface.creator.url }}' target='_blank' rel='noopener'>{{ typeface.creator.name }}</a></h4>

    <h3>Category</h3>
    <h4><a href='/{{ typeface.category | downcase }}/'>{{ typeface.category }}</a></h4>

    <h3>No. of styles</h3>
    <h4>{{ typeface.styles }}</h4>

    {% unless typeface.family_faces == nil %}
      <h3>Other faces in family</h3>
      <ul>
        {% for typeface in typeface.family_faces %}
          <li><a href='/{{ typeface | slugify }}/'>{{ typeface }}</a></li>
        {% endfor %}
      </ul>
    {% endunless %}
  </div>

  <div class='type-detail-table examples-characters gr1 gc6'>
    <div class='meta dark top flex-row'>
      <p class='name'>Characters</p>
      <a href='glyphs/' class='glyph-explorer'>Explore all characters</a>
    </div>
    <div class='examples character-examples flow-row'>
      {% include characters.html %}
    </div>
  </div>

  <div class='type-detail-table examples-words gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Words</p>
    </div>

    <div class='examples word-examples flow-column flow-center'>
      {% for i in (0..5) %}
        <div><h1 contenteditable='true'>{{ text.words[i] }}</h1></div>
      {% endfor %}
    </div>
  </div>

  <div class='type-detail-table examples-headlines gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>Headlines</p>
    </div>

    <div class='examples flow-column'>
      {% for weight in typeface.weights %}
      <div>
        <h1 class='w{{ weight.weight }}' contenteditable='true'>{{ text.headlines[forloop.index0] }}</h1>
        <p class='character-label'>{{ weight.weight }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  {% if typeface.italic == true %}
    {% assign second_headline_type = 'italic' %}
  {% else %}
    {% assign second_headline_type = 'uppercase' %}
  {% endif %}

  <div class='type-detail-table examples-headlines-{{ second_headline_type }} gr1 gc6'>
    <div class='meta dark top'>
      <p class='name'>{{ second_headline_type | capitalize }} Headlines</p>
    </div>
    <div class='examples flow-column'>
      {% for weight in typeface.weights %}
      <div>
        <h1 class='w{{ weight.weight }} {{ second_headline_type }}' contenteditable='true'>{{ text.headlines[forloop.index0] }}</h1>
        <p class='character-label'>{{ weight.weight }}</p>
      </div>
      {% endfor %}
    </div>
  </div>

  {% unless typeface.category == 'Display' %}
    {% if typeface.italic == true %}{% assign i = 0 %}{% else %}{% assign i = 1 %}{% endif %}
    <div class='type-detail-table examples-paragraphs gr6 gc6'>
      <div class='meta dark top flex-column'>
        <p class='name'>Paragraphs</p>
        <p class='code'>font-weight: 400</p>
      </div>
      <div class='examples paragraph-examples flow-column'>
        <div><p class='ms2' contenteditable='true'>{{ text.paragraphs[i] }}</p></div>
        <div><p class='ms1' contenteditable='true'>{{ text.paragraphs[i] }}</p></div>
        <div><p class='ms0' contenteditable='true'>{{ text.paragraphs[i] }}</p></div>
        <div><p class='ms-1' contenteditable='true'>{{ text.paragraphs[i] }}</p></div>
        <div><p class='ms-2 col-2' contenteditable='true'>{{ text.paragraphs[i] }}</p></div>
      </div>
    </div>
  {% endunless %}

  {% unless typeface.smallcap == nil %}
    <div class='type-detail-table examples-smallcap gr7 gc6'>
      <div class='meta dark top flex-column'>
        <p class='name'>Smallcap headlines</p>
        <p class='code'>font-feature-settings: 'smcp';</p>
      </div>
      <div class='examples flow-column small-caps'>
        {% for weight in typeface.weights %}
        <div>
          <h1 class='w{{ weight.weight }}' contenteditable='true'>{{ text.headlines[forloop.index0] }}</h1>
          <p class='character-label'>{{ weight.weight }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endunless %}

  {{ content }}

</div>

{% unless typeface.comparison_faces.size == nil %}
  <div class='grid grid-comparisons' id='comparisons'>
    <h3 class='gr1 gc12 ase mt3'>{{ typeface.name }} compared with other typefaces</h3>
    {% include typeface-comparison.html %}
  </div>
{% endunless %}

{% assign pairings = site.pairings | where: 'typefaces', typeface.name %}
{% unless pairings.size == 0 %}
  <div class='grid grid-pairings' id='pairings'>
    <h3 class='gr1 gc12 ase mt3'>Recommended Pairings for {{ page.title }}</h3>

    {% for pairing in pairings %}
      {% include pairing-sample.html %}
    {% endfor %}
  </div>
{% endunless %}
